[2016-06-16 09:06] AndiH opened #1 "Error in running_processes()"
I get the following error when calling `gpustat` while an actual GPU process is running. If no process involving GPUs is running, the output is correct as expected.

Error:

[code]

The `nvidia-smi` output at the time ist correct:

[code]

Any ideas why the list seems to be empty? (I have not yet debugged it myself.)

[2016-06-21 09:44] #1 closed

[2016-06-21 09:45] wookayin commented on #1
It looks that in some situations the list of processes from `nvidia-smi --query-gpu-apps` and that from `ps` are different. Hope it is now fixed.

[2016-07-15 00:59] bemoregt opened #2 "That's cool"
That's cool

But it is may be based on nvidia-smi ...

I need one that independent to nvidia-dmi.

Thanks at any rate.

[2016-07-18 13:50] wookayin commented on #2
Do you mean we might need some executable that does not directly depend on nvidia-smi but use CUDA APIs to query gpu status? Or do you mean a non-NVIDIA monitoring tooling? Please clarify your message! Thanks.

[2016-07-19 03:20] etale-cohomology opened #3 "What terminal emulator is the one in the screenshot?"
It's so much prettier than LXTerminal....

[2016-07-28 04:16] wookayin commented on #3
I am using iTerm2 on Mac OS X.

[2016-08-02 00:20] musm opened #4 "Prettier output"
It would be nicer if we could get the  pipes  |   aligned for multiple gpu systems :+1:
Currently
[code]
Proposed
[code]

[2016-08-02 04:40] #3 closed

[2016-08-02 04:40] wookayin commented on #2
Please re-open the issue if you have any further points.

[2016-08-02 04:40] #2 closed

[2016-08-02 05:09] #4 closed

[2016-08-02 05:09] wookayin commented on #4
Device names such as `GeForce GTX 1080` or `GeForce GTX TITAN X` have a length greater than 11, which is the column length currently used.

[2016-10-01 03:10] yihui-he opened #5 "gpustat return "error on calling nvidia-smi"?"
nvidia-smi works on my machine

[2016-10-01 03:32] wookayin commented on #5
Invocation of `nvidia-smi --query-gpu=index,uuid,name,temperature.gpu,utilization.gpu,memory.used,memory.total
 --format=csv,noheader,nounits` might be failed (or, `--query-apps`).

Could you please provide more information, e.g. which version of nvidia driver is used? Or you can modify the code so that the exception `CalledProcessError` is thrown outside?

[2016-10-01 03:45] yihui-he commented on #5
[code]

[2016-10-02 02:07] weiweikong opened #6 "ValueError: invalid literal for int() with base 10: '[Not Supported]'"
Running `gpustat` got following return

[code]
- Ubuntu 14.04
- Python 2.7 with Anaconda 4

[2016-11-04 21:15] R0flcopt3r commented on #6
Same issue here.

Nvidia driver: 361.42
Ubuntu 16.04

`> ./gpustat.py
Traceback (most recent call last):
  File "./gpustat.py", line 317, in <module>
    main()
  File "./gpustat.py", line 314, in main
    print_gpustat(**vars(args))
  File "./gpustat.py", line 286, in print_gpustat
    gpu_stats = GPUStatCollection.new_query()
  File "./gpustat.py", line 153, in new_query
    return GPUStatCollec

[2016-11-04 21:17] R0flcopt3r commented on #6
Same issue here.

Ubuntu 16.04
nvidia 361.42

[2016-11-05 11:30] wookayin commented on #6
@R0flcopt3r It looks that `nvidia-smi` returns `[Not Supported]` for process ID in some cases.
Could you please report the result of the following command when the problem occurs?

[code]

[2016-11-05 11:35] wookayin commented on #5
Closing this issue as you mention that it works on your machine.

Please re-open this if it happens again, and provide some information for debugging (e.g. why process calling failed), please.

[2016-11-05 11:35] #5 closed

[2016-11-06 19:51] R0flcopt3r commented on #6
`> nvidia-smi --query-compute-apps=gpu_uuid,pid,used_memory --format=csv,noheader,nounits
GPU-97055bae-db68-136e-6729-49ac3c3fec08, [Not Supported], [Not Supported]`

`> nvidia-smi --query-gpu=index,uuid,name,temperature.gpu,utilization.gpu,memory.used,memory.total --format=csv,noheader,nounits
0, GPU-97055bae-db68-136e-6729-49ac3c3fec08, GeForce GTX 780, 55, [Not Supported], 339, 3068
`

[2016-11-06 23:49] weiweikong commented on #6
@R0flcopt3r
[code]
[code]
some `[Not Supported] appears. It seems that the `nvidia-smi` dose not return the value which `gpustat` needed.

[2016-11-07 06:18] wookayin commented on #6
It looks that `nvidia-smi` cannot retrieve some usage information of older GPU cards such as GT 610 and GTX 780. I fixed the issue in 902f9cd.

Please try with the latest master version, or you can install it directly via pip+git:
[code]

[2016-11-07 09:23] weiweikong commented on #6
@wookayin
It works fine. :)
[code]

[2016-11-07 09:23] #6 closed

[2017-01-08 13:07] wookayin opened #7 "Monitoring as a daemon mode"
Currently, one has to use `watch --color -n0.1 gpustat` for periodical watching.
A built-in daemon mode (collecting some statistics as well) is supposed to be added.

[2017-02-15 00:43] wookayin opened #8 "Support Python2.6"
Python2.6 doesn't support dict comprehension syntax.

[code]

[2017-02-15 09:35] hamidmosaddeghi commented on #8
hi

I check gpustat by python 2.6 and 2.7 , then I get same error.

[2017-02-16 06:56] wookayin commented on #8
And no `check_output` and `CalledProcessError` :(

[2017-03-07 02:19] pronobis opened #9 "Displaying username on dark terminals"
Currently, black color is used to display the username. This makes it impossible to see anything on dark terminals. Any chance, a different color (other than black or white) can be used?

[2017-03-07 20:06] wookayin commented on #9
I am also using dark terminals and it is pretty recognizable. How about adjusting your ANSI colors for Black-Bright ( `ANSIColors.GRAY`)?

BTW, it'd better to have a configuration point without having modify the code for customization, but I am wondering how I can achieve it. Do you have any suggestions?

[2017-03-07 23:01] pronobis commented on #9
Maybe a config file `~/.gpustat` ?

[2017-03-18 21:07] wookayin opened #10 "JSON output"

[2017-04-10 20:03] wookayin commented on #10
Partly included in v0.3.0

[2017-05-05 07:27] Stonesjtu commented on #10
When the json output is stable, maybe we can detach the data collecting module and display module. Then we can request GPU usages from different remote data collecting nodes via HTTP or something else.

[2017-05-05 20:35] wookayin commented on #10
Exactly, I am hoping to decouple them so that we can collect and display GPU usages from different machines. Working on these, so stay tuned :-)

[2017-05-10 09:32] ronan-dean opened #11 "No percent displayed?"
When I start gpustat (great program btw) I see two question marks instead of a percent? Could be my graphics card which is a GTX 560.

[2017-05-10 20:44] wookayin commented on #11
This is because your graphic card is too old, not providing utilization percents. See #6 for details.

[2017-05-10 20:44] #11 closed

[2017-05-10 20:45] wookayin commented on #8
We won't support python 2.6 because it is too legacy.

[2017-05-10 20:45] #8 closed

[2017-08-01 13:02] prehensilecode opened #15 "Document output values"
Could the documentation describe the output? Or maybe a heading row in the output.  In particular, the second column, the percentage value.

[2017-08-01 15:03] wookayin commented on #15
Yes, I had thought that it is so obvious; but somehow I also feel the necessity for documentation (not on the code but on README or somewhere else, as far as I guess at this point). Contributions welcome!

[2017-08-11 14:57] rubenvereecken commented on #10
Any news on this? Wouldn't mind giving a helping hand.

[2017-08-12 03:03] Stonesjtu commented on #10
I'd like to recommend an NVML binding for Python to collect GPU information rather than `nvidia-smi`. This library would significantly simplify the code base for information gathering.

https://github.com/jonsafari/nvidia-ml-py

[2017-08-12 03:49] wookayin commented on #10
@Stonesjtu Quite agree with you. It provides more information, and we could turn `gpustat` into a human-friendly wrapper with cleaner abstraction, providing monitoring functionalities as well. For JSON output formats, I plan to make it fully compatible with a XML format from `nvidia-smi -q -x`.

[2017-08-12 06:57] feiwofeifeixiaowo opened #16 "Error on calling nvidia-smi. Use --debug flag for details"
got above error msg when i run gpustat. but nvidia-smi works on my machine
here are some details
OS:Ubuntu 14.04.5 LTS
Python Version: anaconda3.6
[code]
how can i fix this ?

[2017-08-12 07:07] wookayin commented on #16
Hello, It seems that even though it contains `f66cffd44`, still `ps` fails. When the problem occurs, what would be the output of `ps -o pid,user:16,comm -p1 -p 14471` and `nvidia-smi` ?

[2017-08-12 13:25] feiwofeifeixiaowo commented on #16
hey,
ps returned empty result
[code]
``` nvidia-smi ```  has  its normal stat
[code]

still dont figure out what happend

[2017-08-12 14:40] wookayin commented on #16
Thanks for your information. I think #12 has the similar cause --- `nvidia-smi` sometimes returns non-existent process ID (in your case, 14471).

However, our recent patch didn't work. `ps` didn't return any result even though it queries PID 1 (which should be `init`), where my assumption turns out to be wrong.

[2017-08-13 02:35] Stonesjtu commented on #10
I'm trying to move the `nvidia-smi` API to `nvidia-ml-py`

[2017-08-13 12:51] kapsh opened #18 "No process and user information in output"
I have no process and user information while running gpustat with -cpu flags.
[code]
nvidia-smi v384.59 shows processes as well. Here is XML dump from it:
[nvidia-smi_out_gtx750ti.xml.txt](https://github.com/wookayin/gpustat/files/1220457/nvidia-smi_out_gtx750ti.xml.txt)

[2017-08-13 13:55] wookayin commented on #18
Hi, can you post the output of the following command when it happens as well?
[code]
I presume the xml output (`nvidia-smi -q -x`) is your attachment, which shows a valid process information. Additionally, the result of `ps` will be also useful.  (PID 3264 for your xml, for instance)

It is reported that nvidia-smi sometimes don't retrieve the process correctly.

[2017-08-13 14:40] kapsh commented on #18
Hello,
`nvidia-smi` shows nothing with parameters that you mentioned.
Output without pararmeters:
[code]

And here is `ps` for 3264:
[code]

[2017-08-13 15:09] wookayin commented on #18
I see. The query mode currently we are using as command-line indeed gets broken sometimes. We are going to change the way of retrieving GPU and process information to another API (#17); so I hope this issue could be fixed together.

[2017-08-13 15:49] kapsh commented on #18
Yeah, it looks like nvidia-smi issue. I'll wait while moving to NVLM will be completed.

[2017-08-14 11:14] EvgeniyTaburyanskiy opened #19 "Power usage"
Hi,
How to add power  usage and efficiency information ?

[2017-08-18 08:32] feiwofeifeixiaowo commented on #16
hey, I figure out why lead this bug and fixed it just now.
Here it is, when i run ``` sudo nvidia-smi ``` command on my machine , then i got correct  output from drivers.
[code]
this inspired me to  run ``` sudo gpustat ```, the gpu 's state is correct returned like blew. hope this can help guys with same issue.

[code]
i guess that the reason is  this machine which i am using is a multi-user gpu

[2017-08-18 15:52] wookayin commented on #16
Hi @feiwofeifeixiaowo, thanks for the information! On a multi-user server, we can or can't get other users' process information from time to time. But I don't know when and why. Can you please try it again with nvidia-smi daemon running, e.g. `sudo nvidia-smi daemon` (but without sudo)?

[2017-08-19 02:44] Stonesjtu commented on #16
nvidia-smi daemon must be run with root privilege.
​

On Fri, Aug 18, 2017 at 11:52 PM Jongwook Choi <notifications@github.com>
wrote:

[2017-08-19 02:46] wookayin commented on #16
That's true. I was just wondering if either of pynvml APIs or nvidia-smi daemon could retrieve such information without root privileges.

[2017-08-19 03:29] feiwofeifeixiaowo commented on #16
@wookayin the return msg show as below with two commands

- run command ``` nvidia-smi  ```  which without ```sudo```
[code]
-  run command ``` sudo nvidia-smi``` with ```sudo```  show:
[code]

[2017-08-24 06:09] Corea commented on #19
relates to #13

[2017-08-28 18:18] gyscos commented on #10
JSON output is a great feature!

A few notes on the current implementation:
* Fields with a dot (like `utilization.gpu`) make them harder to use in many JSON clients (like `jq`).
* Numeric fields could use numeric values instead of strings

[2017-08-29 02:56] Stonesjtu commented on #10
@gyscos I think fileds with dot can be naturally organized into sub-dict. e.g.
[code]

[2017-09-05 23:28] wookayin commented on #18
@kapsh Could you please test once again on your machines, now that #20 is now merged to master?

[2017-09-05 23:30] wookayin commented on #16
@feiwofeifeixiaowo Could you please reproduce that the bug still happens on previous versions you were trying with, and that it is now (hopefully) resolved after #20 is merged to master?

[2017-09-06 00:21] feiwofeifeixiaowo commented on #16
@wookayin , Hello wookayin, it seems that we still got same issue.

➜  ~ gpustat -v
[code]
➜  ~ gpustat
[code]
➜  ~ nvidia-smi
[code]
➜  ~ sudo nvidia-smi
[code]
➜  ~ gpustat
[code]

[2017-09-06 00:24] wookayin commented on #16
Thanks for your update. I want to have the same environment for myself, but I don't think I have (maybe I have to mock and simulate it). Could you please provide me a stacktrace information by adding `--debug` flag?

[2017-09-06 00:27] feiwofeifeixiaowo commented on #16
sorry about that, ~V~.
gpustat --debug
[code]

[2017-09-06 09:26] kapsh commented on #18
Checked with current master - no user or processes information.

I ran your utility through debugger and figured out that `nv_processes = N.nvmlDeviceGetComputeRunningProcesses(handle)` in gpustat.py:255 becomes an empty list.
[code]
nvmlDeviceGetComputeRunningProcesses here returns NVML_SUCCESS on my PC.
So I guess that it is not gpustat bug but something with nvidia driver instead. This issue ca

[2017-09-06 20:30] wookayin commented on #18
Thank you @kapsh for checking it out. It looks very weird; so I understood that `nvml-py` still cannot fetch a correct list of running processes, while `nvidia-smi -q -x` can do. Am I correct?

I would rather like to keep it open, although nvidia drivers, APIs, or something else must be in charge of this, I do believe there must be a good workaround to get the correct process information (as long

[2017-09-06 21:47] kapsh commented on #18
I think I got it. It is documented feature:

https://docs.nvidia.com/deploy/nvml-api/group__nvmlDeviceQueries.html#group__nvmlDeviceQueries_1g46ceaea624d5c96e098e03c453419d68

I guess this is about CUDA applications - and I was running glxgears for testing.
So I found another function in their API and did some weird patching like this:
[code]

And now I have this:
[code]

[2017-09-07 08:29] feiwofeifeixiaowo commented on #16
Hi, @wookayin ，maybe this bug has gone with power outages a few hours ago.  ^_^!

After suddenly shutdown with my server, i find that ``` gpustat``` command  works well likes below's output. i don't run any task which may use GPU resource but it work well.
[code]
[code]

[2017-09-08 13:25] Stonesjtu commented on #16
@feiwofeifeixiaowo  I googled a lot this problem and it's likely caused by the broken context of some CUDA applications, thus `NVML` will return pids that doesn't exist at all.

@wookayin we have to deal with this bug even in our `py-nvml` based version,  `psutil.Process(pid=non_exist_pid)` raises an exception.
https://github.com/wookayin/gpustat/blob/895e1f8e4bebb64b7ef5e2d0fc07c4b823ee2574/gpust

[2017-09-11 00:10] wookayin commented on #16
@Stonesjtu You are absolutely correct. Thanks for the detailed information on why it happens -- #23 is merged.

I think this issue can be closed now. @feiwofeifeixiaowo Can you please double-check on this? Thanks all!

[2017-09-11 00:40] wookayin commented on #18
@kapsh Great catch! I have adopted your patch in 48a150f, please check it out! Thanks.

[2017-09-11 08:22] kapsh commented on #18
@wookayin Current master works as expected, thank you.

[2017-09-11 08:22] #18 closed

[2017-09-16 23:59] asdkant opened #24 "add "watch" option"
Please add an option to keep outputting the GPU stats at fixed intervals (similar to how the usual *stat tools work)

[2017-09-17 01:33] wookayin commented on #24
Yeah, I also feel the necessity. Please see #7.

[2017-09-17 02:03] asdkant commented on #24
I implemented this in the style of `vmstat`, see #25

[2017-09-17 22:42] wookayin opened #26 "Add a flag to suppress out graphics application"
Followup of #18 --- I think it would be great to have an option to exclude graphics application (i.e. show only CUDA/computing processes). Something like `--exclude-graphics`

@kapsh How do you think?

[2017-09-18 11:16] kapsh commented on #26
It could be useful for somebody I guess. But I'd suggest another command line arguments handling:
* default (w/o args): list all,
* `--type | -t cuda`, `--type | -t graphics`: list only chosen.

[2017-09-18 12:59] wookayin commented on #26
Looks better. Thanks for the suggestion!

[2017-09-19 09:17] cjw85 opened #27 "nvidia-ml-py version requirement"
I just upgraded to current HEAD from a previous version without nvidia-ml-py (I was planning to add in the power usage as in https://github.com/wookayin/gpustat/pull/13). I now get

    $ gpustat --debug
    Error on querying NVIDIA devices. Use --debug flag for details
    Traceback (most recent call last):
      File "/home/<user>/.local/lib/python2.7/site-packages/gpustat-0.4.0.dev1-
    py2.7.

[2017-09-19 15:16] wookayin commented on #27
It looks weird; 375.53.1 for me as well. I guess the following import also fails, right?

[code]

[2017-09-19 15:24] cjw85 commented on #27
Yes it does. I'll see if I can dig further. Thanks for now.

[2017-09-19 15:33] cjw85 commented on #27
OK, I installed in a virtual environment and had no issues. I then found that pynvml was being imported from /usr/local/lib/python2.7/dist-packages/ (Ubuntu 16.04) outside of the virtualenv, so I removed this. Things now work as expected.

[2017-09-19 15:34] #27 closed

[2017-09-21 17:41] #19 closed

[2017-10-19 15:59] timofonic opened #29 "Feature request: non-Nvidia GPUs support"
Hello.
Hello Please consider it, the name is quite global and would make many geeks happier. Linux ecosystem needs more global apps and good wrappers to make it more standarized. In the future maybe someone would be able to do a pure C implementation and even not require proprietary binaries? Whold it be possible? :D

[2017-10-29 05:22] wookayin commented on #29
Yeah, I agree with your opinion. Actually we *no more* depend on a proprietary binary (nvidia-smi) because we've recently switched to use nvidia's C API, but it might be also possible to add some non-nvidia backend (e.g. AMD series) afterwards. But I haven't tried that so far.

[2017-11-02 18:55] wookayin commented on #16
I assume that this is now fixed by v0.4.0. Please re-open it or open a new one if you have any problems on this.

[2017-11-02 18:55] #16 closed

[2017-11-02 19:04] wookayin commented on #7
In progress: #25 #30

[2017-11-17 15:49] Rizhiy opened #31 "Filter processes by memory/GPU usage"
I work on Machine Learning and use this utility to monitor how much my GPUs are being used.
I frequently have one or two main processes and dozens of smaller ones. Smaller ones only used 500MB of memory total, but take up most of the space on the screen.

Is it possible to add a filter which will prevent processes which use small amounts of memory from being displayed?

[2017-11-17 23:07] Stonesjtu commented on #31
Rather than manually setting a threshold, I think we may sort the memory usages of all the processes and print the top-K processes (probably with an entry  `others` summed up the rest).

[2017-11-20 20:21] Rizhiy opened #32 "Extra character in watch colour mode on Ubuntu 17.10"
When I use command `watch --color -n1.0 gpustat --color` I get a lot of extra `^`: https://imgur.com/a/A9Fxc

![](https://i.imgur.com/KzFd5TV.png)

This problem doesn't occur without `watch`.
I'm on Ubuntu 17.10 with wayland.

[2017-11-21 02:08] wookayin commented on #32
What version of `watch` are you using? Or, what can be an output of `watch gpustat --color` (without `--color` option on the `watch`)?

[2017-11-22 06:27] EmberQuill commented on #32
I have the same issue. This is what I get with `watch gpustat --color
[!watch output](https://i.imgur.com/rIMA0Qj.png)

[2017-11-22 08:56] Stonesjtu commented on #32
I'll look into the bug. Working on setting a test environment on docker.

[2017-11-22 09:45] Stonesjtu commented on #32
I tested as the following and found that the new `watch` may not escape characters as my terminal.
Because my test computer has no GPUs, `test_gpustat.py` is used here
[code]

There's a great PR implementing watch/top like monitoring function, which may solve the problems caused by `watch`.

[2017-11-23 21:11] wookayin commented on #32
For other environments such as macOS (my local), I can't reproduce the issue with the same version of watch `procps-ng 3.3.12`. I think printed the escape sequence for resetting color might be different.

The attachment is my output [fc.log](https://github.com/wookayin/gpustat/files/1500204/fc.log) (in macOS), generated using your instructions. We can see the resetting sequence is `^[[0;10m`, e.g.

[2017-11-24 13:49] Stonesjtu commented on #32
The output on mac renders as normal without extra `^` in Ubuntu 17.10.  And yes the `term.normal` differs unexpectedly.
[code]

[2017-11-24 20:54] wookayin commented on #32
Right. It is from `curses.tigetstr('sgr0')`, which can be `\x1b[0;10m` or `\x1b[m\x0f` or `\x1b(B\x1b[m`, depending on TERM. Technically speaking, all sequences are correct to reset attributes (if TERM matches).

A problem is that `watch` is not smart enough to correctly handle all these ANSI or VT-100 escape sequences. Only workaround we can do is just strip those characters that are unknown to w

[2017-11-24 21:26] wookayin commented on #32
I've come up with a good workaround. Can you please try it out by installing the latest one from master branch?

Still, we would need a test case and travis setup with Ubuntu 17.10.

[2017-11-27 23:04] Rizhiy commented on #32
I no longer have this issue when using the latest version of the master branch.

[2017-11-27 23:05] wookayin commented on #32
Great, thanks! But let me keep this issue open for a while until I add a test/travis setup :)

[2017-12-02 11:10] Lmy0217 commented on #16
@wookayin @Stonesjtu
I also got this error in Ubuntu 17.04 with Python 2.7.
[code]
How can I fix it?

[2017-12-02 14:18] Stonesjtu commented on #16
I think this line of code `if power is not None` should be `if power_limit is not None`.
Can you change this and test if the patch works.

[2017-12-02 19:22] wookayin commented on #16
@Lmy0217 You should have open an new issue. Anyway, I have fixed it in 5c50d9f (current master). Sorry for the bug, and thanks for your report!

[2017-12-02 19:38] wookayin commented on #16
Released as v0.4.1.

[2018-01-14 13:05] Rizhiy commented on #9
+1

[2018-01-14 13:32] Rizhiy opened #34 "rxvt-unicode support"
I have a very strange situation, I currently use `urxvt` as a terminal and gpustat does not start from bare terminal raising:
[code]
So looks like `blessings` does not recognise `urxvt` properly.

But when I start gputstat from within the `tmux` it starts ok, but doesn't use correct colors (e.g. uses standard black instead of bold_black).

What version of `blessings` are you using? Does this probl

[2018-01-14 20:05] trylks opened #35 "Error trying to run gpustat: NVMLError_LibraryNotFound"
Full message with `--debug` and Python3:

[code]
I have also tried with Python2, just in case. Similar error:

[code]

My guess is that I am missing some dependency, path, or correct version, but I could not find which is the problem yet. TBH I do not know how many layers of software are involved when running `gpustat`. I have the driver, its dev version, cuda, cuda toolkit,...

I hope/guess it is

[2018-01-15 01:49] Stonesjtu commented on #35
`gpustat` depends on the `pynvml`, which is a python wrapper for `nvml`. Does `nvidia-smi` work correctly? And can you add the output of `ldconfig -p | grep nvidia-ml`? I think the version mismatch between nvml and nvidia driver may cause this problem.

[2018-01-15 03:00] wookayin commented on #34
I am using blessings==1.6. However, the specification of term codes are defined in system libraries (ncurses or terminfo, see [this comment](https://github.com/wookayin/gpustat/issues/32#issuecomment-346894894)), not on the blessing package. Maybe we need to work around in that case, but I do not currently have `urxvt`.

[2018-01-15 03:03] wookayin commented on #35
Our package has nothing to do with the actual version of nvidia driver installed on the system. So, both 387 and 384 should work. But it seems that nvidia library installation is broken --- please provide us more detailed diagnosis as suggested by @Stonesjtu .

[2018-01-27 23:27] trylks commented on #35
Sorry for the delay, I can only spend time on this computer every second weekend.

`nvidia-smi` works now, and it is the first time that I have seen it working. Here is the output of `ldconfig -p | grep nvidia-ml`:

[code]

It is very likely that versions did not match (and they match now). I may have mixed Ubuntu and Nvidia repositories/versions. I am not sure about what is the minimal and comple

[2018-01-28 02:57] Stonesjtu commented on #35
well, I personally recommand you to uninstall all the nvidia driver packages provided by ubuntu, and install via nvidia binary. One reason is that the apt version is not the newest version, another is that  they are error-probe to versiob mismatch problem after certain upgrade operations.

[2018-02-25 18:10] trylks commented on #35
I understand and I agree, but it is hard to know which packages are involved and their dependencies, this is why installed Ubuntu and not Debian. I do not know how many things could break, e.g. I know about Optimus and Bumblebee, but I do not know how many things I may not know.

Do you know if there is any comprehensive guide so that I can have CUDA with all the bells and whistles running and kee

[2018-03-16 10:32] sebma commented on #29
@wookayin Hi,
Let me thank you for the great work you've done so far.

Can you please add in your README.md the fact that your tools only works for Nvidia GPUs because it's not obvious for everyone ?

Thanks.

[2018-04-01 21:54] wookayin commented on #35
Closing this, considered as not a problem related `gpustat` itself. However, we could come up with a better exception message for python 3 ([due to traceback module](https://bugs.python.org/issue28603)).

[2018-04-01 21:54] #35 closed

[2018-04-01 22:02] wookayin commented on #9
Hi @Rizhiy, would a new color term code introduced in 8d3f917d6 work on urxvt?

[2018-04-01 22:04] wookayin commented on #9
For configuration of color codes, it might be a good idea to play with `$XDG_CONFIG/gpustat` (i.e. `~/.config/gpustat/`), yet no plan to add this very soon.

[2018-04-01 22:18] wookayin commented on #34
Maybe we should force the `Terminal` instance to not look up for `urxvt`. Do you have any idea?

[2018-05-11 16:53] Humayun-CF opened #38 "Installed GPU but got error ImportError: No Module named gpustat"
I installed gpustat using below command, when I run gpustat, I got error: ImportError: No module named gpustat. Do I need to set the path variable to a specific location.

"ubuntu@lambda-quad:~$ sudo -H pip install git+https://github.com/wookayin/gpustat.git@master
Collecting git+https://github.com/wookayin/gpustat.git@master
  Cloning https://github.com/wookayin/gpustat.git (to master) to /tmp/pi

[2018-05-11 17:07] Stonesjtu commented on #38
Can you run `python2.7 -c 'import gpustat; print(gpustat.__file__)'?

[2018-05-11 17:12] Humayun-CF commented on #38
Thanks for response.
Here is output:

"ubuntu@lambda-quad:~$ python2.7 -c 'import gpustat; print(gpustat.file)'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named gpustat"

"ubuntu@lambda-quad:~$ python --version
Python 2.7.12"

[2018-05-11 17:14] Stonesjtu commented on #38
im afraid that /usr/local/lib/python2.7 is not in your python's default search path

[2018-05-11 17:16] Humayun-CF commented on #38
what should I do? this code only run in python 2.7.

[2018-05-12 12:03] Stonesjtu commented on #38
Sorry for the late reply, this bug is probably introduced by #33 which doesn't include the core file in package.
For a workaround, you may checkout older version and runs `pip install .`, or install from *pypi* via `pip install gpustat`.

[2018-05-13 01:35] #38 closed

[2018-05-16 03:56] zxqchat opened #40 "*features* First thank you for your coding and I am very happy to find a way to get GPU stat better ?"
I want to monitor a GPU status and I can use another program continue when a program stoped .Do you have any good idea ?
thank you for your  coding,if you have any trouble in reading my issures ,you can contact me .my native language is not english .

[2018-05-16 05:35] Stonesjtu commented on #40
What do you mean by "one program continues when the other stops".

2018-05-15 20:56 GMT-07:00, Cour <notifications@github.com>:

[2018-05-18 02:46] zxqchat commented on #40
@Stonesjtu yes , I want to implement this function, but I have a little worry about the monitor process will waste the system resource. Because it will continues to monitor at all time.

[2018-05-18 03:04] Stonesjtu commented on #40
Well, you may just query the gpu information at your favored frequency. For me, it costs little CPU time (<5% probably) to query once per sec.

[2018-05-20 02:35] zxqchat commented on #40
@Stonesjtu I found a good way to implement my idea. through judge the PID status . it also can be useful.

[2018-05-22 09:34] #40 closed

[2018-06-11 16:53] mjmikulski commented on #32
Hi!

First of all, thank you for a great tool!

I have the same issue in version 0.4.1 in Ubuntu 16.04. As I understand, this issue was fixed before 0.4.1, am I wrong?

Have a look on the screenshot, a lot of dashes:
![issue](https://user-images.githubusercontent.com/23487805/41245000-12674c72-6da7-11e8-8a5c-a7e644ffa9b6.PNG)

OS: Ubuntu 16.04.4 LTS
[code]

**Intriguingly**, on another, very simil

[2018-06-12 01:07] Stonesjtu commented on #32
it's time to merge the builtin top watch support to workaround strange bugs caused by watch.

[2018-06-12 13:23] slavaGanzin commented on #34
It works in `rxvt-unicode (urxvt) v9.22 - released: 2016-01-23`

[2018-06-12 21:54] wookayin commented on #32
I have reverted  8d3f917d, because with the `xterm-color` term the color becomes weird in `watch`. To have the original issue not happening again, I forced the use of (correct) escape sequence.

@mjmikulski @Stonesjtu Would you be available to verify it again on your environments? (with `master` branch, 132e99a)

[2018-06-14 00:29] wookayin commented on #24
Reviewing on this. Closing this as a duplicate of #7.

[2018-06-14 00:29] #24 closed

[2018-06-24 00:42] hak8or opened #43 "Add a flag to toggle displaying of the hostname and timestamp."
Due to the reverted commit in #32, is there consideration to add a flag which does not show the first line? That way, using a simple ```while``` loop would work well enough for repeated/logging GPU usage information.

For example, right now here is what I get using a while loop.

[code]

Ideally a flag like ```--notitle``` could be added which disables the first line (```hak8ordesktop  Sat Jun 23

[2018-06-24 00:43] hak8or commented on #32
Due to this being reverted, is there consideration for a workaround to add a flag which does not show the first line? That way, using a simple ```while``` loop would work well enough. I created an issue (#43) for this.

[2018-06-24 00:45] wookayin commented on #43
Is `--no-header` what you are looking for?

[2018-06-24 06:05] hak8or commented on #43
Ah, this functionality isn't yet present in the release which can be gotten via a ```pip install gpustat``` but install must be pulled straight from master using ```pip install git+https://github.com/wookayin/gpustat.git@master```. That's why I didn't spot it, I was using the latest release.

I will be therefore closing this as it is both not an issue and solves my problem.

[2018-06-24 06:05] #43 closed

[2018-07-19 10:31] micmarty opened #44 "gpustat --json gives an error with old GPU (GTX 660)"
## Error
[code]

## How to reproduce (on **gpustat 0.4.1**):
[code]

## Demo:
https://asciinema.org/a/4XmXvHBkE7gv658VxIQrYzmie

[2018-07-24 10:45] johann-petrak opened #46 "Problem with pynvml dependency and python 3.6"
When I try to run this using Python 3.6.4 (Anaconda) I get:

[code]
This can be fixed by using the module py3nvml instead and replacing line 24 in gpustat/core.py with
[code]

[2018-07-25 14:50] johann-petrak commented on #46
I re-installed gpustat, tried first without the -U flag and it worked even then already, depending on nvidia-ml-py3, as you say.
No idea at all why I had this problem initially at all!

[2018-07-25 14:50] #46 closed

[2018-07-25 15:06] Stonesjtu commented on #46
It’s a bug fixed after you have installed the old version of `gpustat`.
Either `pip install -U gpustat` or reinstall will get you the newest gpustat.

[2018-09-06 07:45] gabriel-vanzandycke opened #47 "Let --gpuname-width clip gpu names longer than the specified width"
I guess the behaviour should change the output from
`gpustat
[0] GeForce GTX 1080 Ti | 32'C,   0 % | 10795 / 11172 MB
`

to
`gpustat --gpuname-width 10
[0] GeForce GT | 32'C,   0 % | 10795 / 11172 MB
`

but it doesn't seem to do anything

version: gpustat 0.5.0.dev1
os: Ubuntu 16.04.5 LTS
python: Python 3.6.4 :: Anaconda, Inc.

[2018-09-08 14:27] Stonesjtu commented on #47
The actual name width is calculated as in:
https://github.com/wookayin/gpustat/blob/f39d9c9a22e73b574be179e73db70d7b4e4778c2/gpustat/core.py#L435

The name of this option should be something like *min-gpuname-width*. Perhaps it's assumed that user always want the whole name. So could you tell us how would you want to get a partial gpu name.

[2018-09-10 03:52] wookayin commented on #32
This is now released as 0.5.0. Sorry for making it a bit late.

[2018-09-10 03:52] #32 closed

[2018-09-10 03:53] wookayin commented on #7
This is now released as 0.5.0. As described in README, the following should work:

[code]

[2018-09-10 03:53] #7 closed

[2018-09-12 12:32] Liemaeu opened #48 "Command not found"
I installed gpustat, but when I try to start it "command not found"

My system: Kubuntu 18.04

[2018-09-12 13:42] Stonesjtu commented on #48
How do you install the package, and you may check if python's binary path is included in `$PATH`.

[2018-09-13 16:03] innerlee opened #49 "Be concise"
pls add option to disable card type and temperature.

[2018-09-13 20:27] wookayin commented on #49
We may consider the following flags. @Stonesjtu Please suggest better names if any.

[code]

(Thoughts: Are they consistent with `--show-power`, etc?)

[2018-09-14 04:02] Stonesjtu commented on #49
Prefer a list-like argument e.g. `--show power, name, temp`, which overwrites other displaying options. But it's still confusing with the existing `-cpu` arguments, the latter one is for extra information.

[2018-09-14 19:10] neighthan opened #50 "Show full commands running"
Would you support an option to show the full commands being run instead of just, e.g, `python`? These could be rather long, so one option might be to put each of them on a new line below the GPU that they're on (maybe indented a bit). Since `gpustat` seems to focus on being very concise, I'd understand if not. I have my own modification of `nvidia-smi` to show more about the processes running on e

[2018-09-15 07:10] wookayin commented on #50
I also feel the necessity to display more comprehensive process information, under a specific command-line flag/options. It would not hurt our focus on being concise that much.

I am considering something like this (everything is just sketchy):

[code]

It might be a little bit verbose. The flag/option name is something we need to think about more and decide. Any suggestion or thoughts?

[2018-09-15 20:17] neighthan commented on #49
It would be nice to have a full-on format string like, e.g., `git log` does so the user could specify which gpu parameters to show, in which order, with which colors.

[2018-09-15 20:21] wookayin opened #51 "Fully configurable output format"
From @neighthan 's [suggestion](https://github.com/wookayin/gpustat/issues/49#issuecomment-421628172)

To this end, we also need to introduce a config file (e.g. `~/.config/gpustat/gpustat.cfg`).
Or, maybe using an environment variable?

[2018-09-15 20:53] neighthan commented on #50
The format there looks right to me; the ├─ on the left makes it even better than what I was picturing. What is the percentage shown after the PIDs? `--show-process-info` sounds fine to me or `-f`/`--full-process-info` (since `-p`/`--show-pid` is also showing some process info). Maybe starting with `show` is better for consistency, though? Maybe `--show-full-cmd` to be more closely related to `--sh

[2018-09-16 03:07] wookayin commented on #9
Will be discussed in #51

[2018-10-05 10:13] lapwat opened #52 "gpustat -cp does not refresh the stats"
gpustat -cp should refresh every x seconds like in the screenshot of the readme. The current behavious is that gpustat -cp runs one iteration then closes.

gpustat -cp, gpustat -c, gpustat -p and gpustat return the same output:

[code]

Python 3.7.0

Thank you

[2018-10-07 06:03] Stonesjtu commented on #52
If you want to display the information continuously, you should run with extra option `-i 1`.
For the lack of process information, could you plz post the driver version and system environment.

[2018-10-08 08:43] lapwat commented on #52
Ok my bad. I did not RTFM. The screenshot was not updated. It works well with `-i` option.
I am running Archlinux with Nvidia's official drivers.

Thank you for your time.

[2018-10-08 08:43] #52 closed

[2018-10-31 00:56] wookayin opened #53 "Display driver version in the header"
~Introduce `--header` option that specifies whether each of {host,time,driver} will be displayed in the header.~ Display driver version in the header:

e.g.

[code]

which prints:

[code]

- What would be the best format?
- Should we make it configurable (see #51)?

[2018-11-08 14:50] matthew-z opened #54 "use too much CPU resource"
Hi, `gpustat -i` uses about 80% CPU on my machine, is it expected or a bug?
 In contrast, `nvidia-smi -l 1` uses less than 10%.

OS: Ubuntu 18.04
Nv Driver: 410.48
CUDA: 10.0.130
CPU: AMD Threadripper 1900x
GPU: 2080Ti + 1080

<img width="820" alt="image" src="https://user-images.githubusercontent.com/5741303/48206004-b67a0780-e3b0-11e8-89d6-6a8f10f184b7.png">

[2018-11-09 01:18] Stonesjtu commented on #54
whats your interval value

[2018-11-09 05:10] matthew-z commented on #54
I didn't set, but `gpustat -i 1` will reproduce the same result.

[2018-11-09 07:35] matthew-z commented on #54
I tested, and with `watch -n 1` they use the same amount of CPU time (about 0-20%).

[2018-11-09 07:40] matthew-z commented on #54
Hi, I just found that the CPU time problem of `gpustat -i`  can be solved  by running `nvidia-smi daemon` first.

[2018-11-09 21:20] wookayin commented on #54
A difference is that in the watch mode (i.e. `gpustat -i`) we fetch handle resources *at every time step*, which is somewhat expensive. Therefore we could optimize in a way that GPU handles are fetched only once in the beginning, and use the (cached) resources. This would be possible in the watch mode as the gpustat process won't terminate until interrupted.

[2018-11-11 05:51] hsluoyz opened #57 "No module named 'fcntl' on Windows 10"
I try to use this tool on Win10. But the used ``fcntl`` library is not available on Win10. Is there any way or plan to support Windows in future?

[2018-11-12 11:51] wookayin commented on #57
The `blessings` library has a dependency on `fnctl`; didn't know that. We will try to address this issue soon.

Until then, you can use an older version (< 0.4.0, say v0.3.2) that does not use `fcntl`. It may lack some recent changes or bugfixes, but can you try this?

[2018-11-12 11:57] wookayin commented on #57
Following the discussion from the upstream issue erikrose/blessings#21, we can maybe use [this hack](https://stackoverflow.com/questions/1422368/fcntl-substitute-on-windows/25471508#25471508) to work around the issue. As noted, `fcntl.ioctl` is only used to determine the height and weight of the current tty.

[2018-11-25 05:19] tuji-sjp opened #59 "'gpustatt' Not internal or external commands, not runnable programs"
Excuse me, I have a problem.

After “pip install gpustat”，I encountered the following error：
'gpustatt' Not internal or external commands, not runnable programs.
My execution environment is in Windows 10.
What should I do about it?

[2018-11-28 02:53] wookayin commented on #59
Are you sure you typed `gpustat`, not `gpustatt`?

[2019-02-02 21:02] wookayin commented on #53
We will not include a configuration point for now. Driver version will be shown by default.

[2019-02-02 21:02] #53 closed

[2019-02-12 18:31] #59 closed

[2019-02-24 02:12] wookayin commented on #54
Working on #61.
In my case querying power usage is most expensive, so I made it optional whenever possible. Could anybody check whether it leads to less CPU usage?

[2019-04-03 13:26] mjmikulski opened #62 "Show fan speed"
Command `nvidia-smi` shows also fan speed:

[code]

Could gpustat show this information too?

[2019-04-08 20:22] wookayin commented on #62
The nvml API supports this: `nvmlDeviceGetFanSpeed()`. It would be straightforward to implement this. I'll give a try when I have an extra cycle, but contributions are always welcomed.

[2019-04-09 01:37] wookayin commented on #62
FYI: There is a similar PR #42, which lacked the CLI flag and a unit test so I was unable to merge it.

[2019-05-04 01:38] #62 closed

[2019-06-27 15:07] bethune-bryant commented on #50
I have a PR open that adds this feature. Feel free to provide any feedback. @neighthan

[2019-07-18 16:56] bethune-bryant opened #66 "Drop Python 2 Support"
@Stonesjtu [Pointed out that Python 2 is being retired](https://github.com/wookayin/gpustat/pull/65#issuecomment-512323532):

Ref. https://pythonclock.org/

Then if you install the package via pip2, the out-dated one instead of the newest version will be selected.

[2019-07-19 07:29] wookayin commented on #66
Speaking of retiring python2, I think this would be the best time to version our gpustat finally as 1.0.

[2019-07-19 18:52] bethune-bryant commented on #66
@wookayin

Let me know if there's anything you want me to do for this.

[2019-07-22 02:15] ofek commented on #66
@wookayin Then you could also resolve #57 by using https://docs.python.org/3/library/shutil.html#shutil.get_terminal_size

[2019-07-22 05:34] wookayin commented on #62
[code]

[2019-07-23 21:11] wookayin commented on #10
I plan to make a few of breaking changes towards 1.0, such as units and numerical values.

[2019-07-24 16:21] bethune-bryant commented on #66
Resolved by #67

[2019-07-24 16:21] #66 closed

[2019-08-04 10:29] lartpang opened #68 "We need a better way to display cmd name of running process on one card."
![image](https://user-images.githubusercontent.com/26847524/62422443-5e74f500-b6e5-11e9-9b27-4619da8e4009.png)

These contents are too messy. Can this tool be able to display line breaks between different cmds?

[2019-08-05 02:05] wookayin commented on #68
I agree. In case where the command line contains full arguments we should trim args away.

BTW I didn't get your point of 'display line breaks'. Would you please elaborate on this?

[2019-08-05 02:23] wookayin commented on #68
If you meant displaying one process (one command line) at a line, this is already implemented: please try out #50 and #65.

[2019-08-05 13:28] lartpang commented on #68
That basically is similar to what I want to say. Thanks.

[2019-08-05 13:38] lartpang commented on #68
I used the version `0.6.0` from `pypi` before, and then directly updated to the `1.0.0` version of the repository on GitHub, it is fine now.

[2019-08-05 13:38] #68 closed

[2019-08-06 07:43] gwzhangx opened #69 "Error: No module named '_curses' on Windows 10"
I try to use this package on Windows 10, while there is an error raised (No module named '_curses').  I wonder whether this package is made to support Windows. Is there some method to make is available  for Windows?

[2019-08-06 09:05] wookayin commented on #69
Seems related to #57. I am going to fix this in 1.0.

[2019-09-04 08:33] wangg12 commented on #34
I also encountered this issue on Ubuntu 16.04, @wookayin do you know how to solve it?
[code]

[2019-09-04 14:44] wookayin commented on #34
what do your $TERM and $TERMINFO variable read?

[2019-09-04 15:14] wangg12 commented on #34
`$TERM` is `xterm` and  `$TERMINFO` is empty.

[2019-09-05 18:29] wookayin commented on #34
Check the following directories: `~/.terminfo`, `/etc/terminfo`, `/lib/terminfo`, `/usr/share/terminfo`. Your terminfo seems to be broken.

[2019-09-06 03:21] wangg12 commented on #34
I figured out the problem. I copied my anaconda from another machine and the path does not match the original path. I solved it by using symlink.

[2019-09-21 12:21] wildkid1024 opened #70 "D(isk sleep) status when using gpustat -i"
when I use ```gpustat -i``` to watch my GPU usage in  SSH, but my local computer is shutdowm unexpectedly. When I open my server in SSH, I find that  the process becomes a D(isk sleep) status and i can’t kill it. I have no permission to reboot, how can I slove it?

[2019-09-21 14:51] Stonesjtu commented on #70
Have you tried `kill -9`

[2019-09-22 00:59] wildkid1024 commented on #70
I tried, but it is useless.

[2019-09-25 01:54] XinyuLyu opened #71 "python 2.7 Command 'gpustat' not found"
![image](https://user-images.githubusercontent.com/33551398/65562803-3fbf0c00-df7a-11e9-88b8-42e422f0432e.png)
![image](https://user-images.githubusercontent.com/33551398/65562829-54030900-df7a-11e9-9ce6-8ac5a1d58078.png)

[2019-09-25 01:59] Stonesjtu commented on #71
You should add `$HOME/.local/bin` to your PATH.

[2019-09-25 02:19] #71 closed

[2019-09-29 08:53] Stonesjtu commented on #70
Can you share your `interval` value, when running `gpustat -i`.

[2019-10-04 18:25] talentlessguy opened #72 "Not supported"
# What I tried

[code]

# Problem

gpustat doesn't show anything

# Reason

`nvidia-smi` also shows "Not supported"

# Details

**OS** Ubuntu 18.04
**GPU** NVIDIA GT 740M

[2019-10-05 01:18] Stonesjtu commented on #72
The hardware cannot show the processes running on it.

[2019-10-05 14:12] talentlessguy commented on #72
`gmonitor` works though:

![image](https://user-images.githubusercontent.com/35937217/66256114-5f80dc00-e793-11e9-92d2-c7a01791f03b.png)

[2019-10-05 15:13] Stonesjtu commented on #72
I don't see the processes in the screenshot though.

[2019-10-07 22:28] talentlessguy commented on #72
@Stonesjtu, then closing bc can't be fixed (my nvidia is 740m which seems to be too old)

[2019-10-07 22:28] #72 closed

[2019-11-02 19:16] Michaelvll opened #73 "Feature request: Cluster GPU monitoring"
Hi,

Thank you for your great tool for monitoring GPU usage, showing much clearer information than `nvidia-smi`.

## Feature
Currently, I am working on a cluster with multiple GPU nodes. Do you think it would be a good idea to support monitoring for multiple nodes on one node? The use case is described as follows.

## Use case
For a user with two nodes n1 and n2, it would be great if we can run th

[2019-11-03 13:15] #69 closed

[2019-11-09 06:37] gotonickpappas opened #74 "nvidia-smi is not recognized as an internal or external command: with 0.3.x versions on windows"
C:\>gpustat -cp
'nvidia-smi' is not recognized as an internal or external command,
operable program or batch file.
Error on calling nvidia-smi

C:\>nvidia-smi --query-gpu=index,uuid,name,temperature.gpu,utilization.gpu,memory.used,memory.total --format=csv,noheader,nounits
0, GPU-9d01c9ef-1d73-7774-8b4f-5bee4b3bf644, GeForce GTX 1080 Ti, 28, 65, 9219, 11264
1, GPU-9da3de3f-cdf2-8ca9-504d-fd9bc414a

[2019-11-09 06:48] Stonesjtu commented on #74
Can you check the version of gpustat

[2019-11-09 07:31] gotonickpappas commented on #74
0.3.2

[2019-11-09 08:04] Stonesjtu commented on #74
Can you please upgrade the gpustat.

[2019-11-09 08:11] gotonickpappas commented on #74
Hmm, I just noticed that the upgrade through pip grabbed a 0.* version.

C:\>pip install --upgrade gpustat
Collecting gpustat
  Using cached https://files.pythonhosted.org/packages/b4/69/d8c849715171aeabd61af7da080fdc60948b5a396d2422f1f4672e43d008/gpustat-0.6.0.tar.gz
Requirement already satisfied, skipping upgrade: six>=1.7 in
.
.
.
Installing collected packages: gpustat
  Found existing installa

[2019-11-09 08:21] Stonesjtu commented on #74
Related to #69. We are trying to support windows at next release.

[2019-11-10 05:44] wookayin commented on #73
Try https://github.com/wookayin/gpustat-web

[2019-11-10 05:48] wookayin commented on #74
Closing as invalid (outdated version and nvidia-smi is not installed) or duplicated.

[2019-11-10 06:44] gotonickpappas commented on #74
Actually it is not invalid.
nvidia-smi IS installed.

Using latest version givers error about no module named '_curses'
(thus I installed a previous version that had no such error, but would give a different one.)
Hence the opening an issue.

The problem remains.

[2019-11-12 00:06] wookayin commented on #74
This is the problem that only happens with 0.3.x versions (that rely on nvidia-smi command) on Windows. Pythons in windows does not respect $PATH so the absolute path must be specified manually. Although 0.3.x series not supported anymore but since the latest versions also don't work on windows, I will have this issue open.

[2019-11-12 02:31] kakimochi commented on #74
I have fixed this issue on my situation. Please try the followings.
pip install windows-curses

[2019-11-12 04:12] gotonickpappas commented on #74
@kakimochi Yeah that will install _curses alright, but leads to this:
https://github.com/wookayin/gpustat/issues/57

[2019-11-13 16:59] Michaelvll commented on #73
Thank you for your reply. That project looks great!

[2019-11-13 16:59] #73 closed

[2019-11-20 20:30] denfromufa opened #75 "offline installation does not work"
I tried pip install ... with --no-index, but this does not help - the installation process tries to call pypi server. The machine does not have internet access. I can install any other package in offline mode with conda or pip.

[2019-12-17 17:01] wookayin commented on #75
https://stackoverflow.com/questions/11091623/python-packages-offline-installation

[2019-12-17 17:01] #75 closed

[2020-01-02 07:09] europa1610 opened #76 "Maximum Sampling Rate of GPU Power"
Hey! This might be slightly unrelated but I was wondering what the maximum sampling rate of call to `nvmlDeviceGetPowerUsage` would be. It must be limited by the sampling rate of the power measurement hardware on the GPU. Do you know about this based on your usage of the NVML API?

Thanks!

[2020-01-02 08:00] Stonesjtu commented on #76
We are now restricting the sampling rate to be lower than 10/sec (interval >= 0.1s), however you may try even higher rate to see what happens.

https://github.com/wookayin/gpustat/blob/fb0f54e93ddbda24c72b32cef860a766203858cc/gpustat/cli.py#L127

[2020-01-02 09:33] europa1610 commented on #76
Thanks! I tried a very high sampling rate (calling `nvmlDeviceGetPowerUsage` without any delay) and the number of samples achieved in 1 second is around 2743, however, I don't think GPU power measurement hardware can have 2.7kHz sampling rate (I am using a Tesla K40m). I think the function returns the last measured power if we try to call it when the power measurement hardware is not ready or has

[2020-01-02 09:33] #76 closed

[2020-01-04 11:06] piotr-dobrogost commented on #76
@europa1610
Could you please share a link to the forum post you refer to?

[2020-01-04 11:44] europa1610 commented on #76
Hey @piotr-dobrogost I posted my query on the NVIDIA Devtalk forums (NVML Subtopic) [here](https://devtalk.nvidia.com/default/board/76/system-management-and-monitoring-nvml-/) but haven't received a response to my query yet. Here's [my post](https://devtalk.nvidia.com/default/topic/1069213/system-management-and-monitoring-nvml-/maximum-sampling-rate-of-gpu-power-measurement-using-nvml/) for refere

[2020-01-11 16:18] skjerns commented on #57
is there any update on the dependency on `fcntl`?

[2020-01-11 19:50] skjerns opened #77 "Show CPU usage and RAM usage"
I think it might be nice to have the total CPU and RAM usage being displayed in the header.

Do you think that's something to include?

[2020-02-02 06:25] wookayin commented on #57
We will start using `blessed` (1.17.1+) in place of `blessings`. @skjerns has added a window support in #78, thanks!

Could anyone try `blessed` branch on windows? Are color and `-i` (watch mode) all working well?

[2020-02-02 06:26] wookayin commented on #74
Support for windows will be tracked in #57. Closing this as duplicate.

[2020-02-02 06:26] #74 closed

[2020-03-08 10:38] wookayin commented on #57
@skjerns @hsluoyz @gwzhangx Could you please help verify it now works on windows?

[2020-03-09 13:54] skjerns commented on #35
sure:

[code]

[2020-03-09 13:55] skjerns commented on #57
sure:

[code]

[2020-03-09 19:54] wookayin commented on #57
@skjerns Thanks. I wonder if the command line program (not only tests) works as expected as test coverage is low (I should improve though) -- like colors, curses-powered features (e.g. `-i` mode). Anyway I'll going to merge it to the master, but let me know if you find any bugs on windows!

[2020-03-18 16:55] ChaoticMind opened #79 "Expose GPU enc/dec utilization"
Looks like the `utilization.gpu` value right now is the one shown via `nvidia-smi` (as `GPU-Util`).

If one runs `nvidia-smi dmon` instead, it also exposes a percentage representing encoding/decoding utilization (as a percentage under the `enc`and `dec` columns).

Any chance of including those in `gpustat`? I'm running into a case where `enc` is at or near 100%, but the general GPU utilization is

[2020-03-19 02:29] Stonesjtu commented on #79
The statistics are easy to obtain.
but any ideas on how to present these numbers on console output?

[2020-03-19 09:05] ChaoticMind commented on #79
@Stonesjtu One way would be to just include expose it after GPU utilization:

Instead of:
GeForce GTX TITAN 0 | 80°C,  76 % |  8000 / 12287 MB | user1(4000M) user2(4000M)

We could have:
GeForce GTX TITAN 0 | 80°C,  76 % (**enc**: 66 %, **dec**: 53 %|  8000 / 12287 MB | user1(4000M) user2(4000M)

Although it might make sense to hide it behind a cmdline flag.

I made a PR without exposing the numbe

[2020-03-25 15:50] bryant1410 commented on #9
I was also having the same problem with Guake until I enabled an option called "Bold text is also bright (VTE >=0.52)".

[2020-04-05 02:05] Stonesjtu commented on #79
Addressed in #80

[2020-04-05 02:05] #79 closed

[2020-04-24 14:31] ShougangShen opened #83 "The display of power usage is confused"
As shown in the figure,
![图片](https://user-images.githubusercontent.com/47826632/80223677-323a4380-867b-11ea-9335-c407280116de.png)

I run the `gpustat -i -a`

[2020-04-25 09:39] wookayin commented on #83
Why do you think it is confusing? The reason you see `??` is because your graphic card does not support power limit and/or fan speed. Could you try seeing what `nvidia-smi` reads?

[2020-04-25 17:06] ShougangShen commented on #83
I see, Thanks

[2020-04-25 17:06] #83 closed

[2020-04-27 08:15] chanduthedev commented on #57
Hi @wookayin,

I am getting below error on Windows 10 GPU laptop.
`ModuleNotFoundError: No module named 'fcntl'`

I installed by running `pip install gpustat` which installed gpustat v0.6.0

Any suggestions on how to resolve this issue?
Thanks in advance.

[2020-04-27 08:16] wookayin commented on #57
@chanduthedev Have you ever read this issue thread? This was already fixed but yet unreleased. Get the master version: `pip install git+https://github.com/wookayin/gpustat`

[2020-04-28 07:52] chanduthedev commented on #57
Hi @wookayin , yes I read. But from the below statement I understand that  gpustat wont support python 2.7 from v1.0. I am using python 2.7, so I installed less than v1.0 version. I am sorry if I interpret incorrectly.

[2020-04-28 09:36] wookayin commented on #57
We do not support python 2.7 anymore. If you want to use python2.7 on windows, please install version 0.3.2. I recommend you to move to python 3.

[2020-04-28 10:39] chanduthedev commented on #57
Thanks for quick response. I will try 0.3.2 version once.

[2020-05-06 12:01] jefke-glider opened #85 "GPU's in container"
doesn't work when GPU's are used in an LXD container. i've got isolated id's set, so with a little bit of calculations, this could work.

jef

[2020-05-07 19:45] eusoubrasileiro commented on #57
Just downloaded the master version

Got the following error installing from conda:

`pip install git+https://github.com/wookayin/gpustat`

gpustat --debug
Error on querying NVIDIA devices. Use --debug flag for details
Traceback (most recent call last):
  File "d:\anaconda3\lib\site-packages\pynvml.py", line 641, in _LoadNvmlLibrary
    nvmlLib = CDLL(os.path.join(os.getenv("ProgramFiles", "C:/Prog

[2020-05-07 23:58] wookayin commented on #57
@eusoubrasileiro Your issue is a different one from this. Please feel free to open a new issue.

[2020-05-08 15:10] eusoubrasileiro opened #86 "Weird output on Windows 10"
Just downloaded the master version to run on Windows after https://github.com/wookayin/gpustat/issues/57#issuecomment-619813700

Got the following error installing from conda:

`pip install git+https://github.com/wookayin/gpustat`

[code]

I solved the first error by copying the `nvml.dll` from `Windows\System32` to the above folder.
Then I had to run anaconda prompt as administrator

Then it runs

[2020-05-08 15:23] eusoubrasileiro commented on #57
@wookayin  just did that. Hope I can help somehow, deleting here.

[2020-05-08 22:38] wookayin commented on #86
Hi @eusoubrasileiro, thanks for the report. I suspect that processes that are using GPU for graphics rendering is appearing (See #18 for details). Maybe we should disable this by default or at least make it configurable. /cc @kapsh

Could you try the following to make sure this is the case?

[code]

If it shows the same list of processes as above, my guess would be correct.

[2020-05-08 22:40] wookayin commented on #85
Could you elaborate on the problem you're experiencing? What is the current output you see and what do you expect?

[2020-05-09 01:46] eusoubrasileiro commented on #86
Yes, exactly that's it they are all using geforce gtx1060, also showing on activity on system tray.
Well I guess this is not a bug than. Yes I really would like to see only those using a CUDA, is it possible?

[2020-05-09 03:33] wookayin commented on #86
Could you also show me the full output of `nvidia-smi` (especially the `Processes:` part)? I am leaning to excluding graphics process by default. I will add an option to make it configurable.

[2020-05-17 11:32] kapsh commented on #86
@wookayin hello. As I understand, the reason of this issue (as it was in #18 mentioned above) is that some users expect to see CUDA applications listed while others expect graphics users being listed. Correct?
If that so, the right way would be introducing separate options to choose the mode explicitly (and possibly combine them).

[2020-05-19 00:14] KindDragon commented on #50
Please release a new version with this feature

[2020-06-01 16:05] scatenag opened #87 "Integration as NetData plugin"
I love this tool!

I would like to get integration with[ netdata](https://github.com/netdata/netdata);
we would get something similar to [nv plugin](https://github.com/coraxx/netdata_nv_plugin), but more powerful.

This would allow us to exploit visualization, data aggregation, streaming, backend, etc of netdata.

If I am not wrong, both netdata and gpustat use the same [pynvml](https://github.com

[2020-06-17 02:03] MowanHu opened #88 "How can i install this package in local?"
Hello, because of some net problem, i cant install from pypi, can i clone to local and install it ?

[2020-06-17 02:58] Stonesjtu commented on #88
This tool itself can be installed directly from the source code. But you may spend some time dealing with the installing dependencies.

[2020-06-17 04:07] MowanHu commented on #88
Thx for u reply, i have satisfied the requirments, could u tell me how to install this package directly ?
I have try this method from https://stackoverflow.com/questions/11091623/how-to-install-packages-offline.
Unfortunately, it seems doesnt work to me...

[2020-06-17 05:01] Stonesjtu commented on #88
Try this out:

1. git clone https://github.com/wookayin/gpustat <https://github.com/wookayin/gpustat>
2. pip install ./gpustat/

[2020-06-17 06:38] MowanHu commented on #88
Thx, but it dosent work either,  it still  "Processing ./gpustat "
However, thanks a lot. Maybe it exists other problems, and i need to find out...

[2020-06-17 08:00] #88 closed

[2020-06-18 01:49] wookayin commented on #87
What exactly would you want to see in the netdata dashboard? I think a netdata extension should be implemented in a separate repository, but all information is exported through `GPUStat` class API in Python so accessing necessary data won't be a problem.

[2020-06-18 02:17] wookayin commented on #87
Closing this issue as irrelevant to gpustat. The feature you'd want to have can be implemented in https://github.com/coraxx/netdata_nv_plugin/issues/14.

[2020-06-18 02:17] #87 closed

[2020-06-27 06:42] yueyericardo commented on #9
![image](https://user-images.githubusercontent.com/9999318/85916535-bb0e6080-b81f-11ea-87b6-082905c794b1.png)

A dirty work around:

At this line https://github.com/wookayin/gpustat/blob/master/gpustat/core.py#L217
change `term.bold_black` to `term.bold_gray`

[2020-07-07 08:39] ganler opened #89 "Questions about gpustat display memory usage logic"
Hi, I was writing some GPU memory usage monitoring codes using `nvmlDeviceGetComputeRunningProcesses`. And I used gpustat for debugging. I found that gpustat reported about 5x memory usage than my program.

Did I use nvmlDeviceGetComputeRunningProcesses in the wrong way? How is the display logic of the yellow number below? (I tried to look at the source codes but did not find out the logic)

gpust

[2020-07-07 10:08] Stonesjtu commented on #89
Can you post the output of nvidia-smi

[2020-07-07 11:26] ganler commented on #89
@Stonesjtu It is the same as `gpustat`.

The logic of my program goes like this:
- Use `nvmlDeviceGetComputeRunningProcesses` to query process information.
- Get the process information item whose pid is equal to current pid.
- Use the `usedGpuMemory` data member.

[2020-07-07 11:29] ganler commented on #89
![image](https://user-images.githubusercontent.com/38074777/86773337-21994700-c088-11ea-8aba-6a3cc9d30935.png)

[2020-07-09 04:20] wookayin commented on #89
So what is wrong here? You said gpustat and nvidia-smi report the same memory usage.

[2020-07-09 04:22] wookayin commented on #89
FYI, we basically use the same API (`nvmlDeviceGetComputeRunningProcesses` and `usedGpuMemory`).

[2020-07-09 04:30] ganler commented on #89
Hi @wookayin , I think this is my problem. I meant to monitor my C++ program's GPU memory usage via `nvmlDeviceGetComputeRunningProcesses` but could not get the result as gpustat and nvidia-smi. It seems to be my problem and I should try to debug my program.

Thank you for your patience. Closed.

[2020-07-09 04:30] #89 closed

[2020-07-09 04:31] wookayin commented on #89
No worries. I think your program and gpustat are using the same API so you should be able to get the exactly same result. Please let us know if there's anything we could help with.

[2020-07-24 20:09] ajason08 commented on #47
Well I am facing the same issue.
In my case I have a narrow screen and all GPUs have the same name, so I would prefer to be able to hide the entire column.

I think a good behavior for `--gpuname-width` (and probably more intuitive), is to use the value to define the number of characters to display, so it will  crop/clip the rest. Hence, a value of 0 will "hide" the column, but it also can satisfi

[2020-07-27 06:21] wookayin commented on #47
@gabriel-vanzandycke @ajason08 Thanks for your suggestion. I'm considering changing the behavior to clipping as you suggested as a part of v1.0 release. Let me work on that if I have some extra cycle (contributions are still welcome).

[2020-07-27 06:22] wookayin commented on #70
Closing as obsolete; I don't think the bug has something to do with gpustat. Please feel free to reopen if it's still an issue for you.

[2020-07-27 06:22] #70 closed

[2020-08-19 09:51] chovy commented on #71
this should be in docs. if you don't use `sudo pip`

[2020-08-19 10:12] Stonesjtu commented on #71
Well, if you use anaconda / miniconda, then everything is set up already. And it's rather a `pypi` issue, leaving it in issue should be fine in my opinion.

[2020-08-25 05:18] hongyi-zhao opened #90 "Faile to run ``gpustat --debug'': pynvml.NVMLError_LibraryNotFound: NVML Shared Library Not Found"
Hi,

On Ubuntu 20.04 with Python 3.8.3, failed to run ``gpustat --debug'', see following for more info:

[code]

[2020-08-25 05:31] Stonesjtu commented on #90
What's the output of `nvidia-smi`

[2020-08-25 10:05] hongyi-zhao commented on #90
I don't install any nvida relevant drivers/tools/utlities on the machine, so the nvidia-smi command is not available currently.

[2020-08-25 10:07] Stonesjtu commented on #90
Unfortunately this tool (as well as any other GPU management tools) depends on the Nvidia driver and toolkit, you should at least install the Nvidia-driver to get things work.

[2020-08-25 10:10] hongyi-zhao commented on #90
Thanks a lot for your explanations. I'll try and feedback if necessary.

[2020-08-28 07:08] radhikasethi2011 commented on #90
![image](https://user-images.githubusercontent.com/44310177/91532071-64aac480-e92b-11ea-966f-9043ceaf9a9b.png)
I had the same issue, this is the output of `nvidia-smi`

[2020-08-28 07:15] hongyi-zhao commented on #90
The problem has been solved. The reason for my case is that I don't installed the cuda/nvidia-driver correctly. Now, it works smoothly, see following for detail:

[code]

[2020-08-28 07:27] Stonesjtu commented on #90
@radhikasethi2011 Your problem seems like windows compatibility issue from PyNVML. I don't have any windows GPU server by my side, so I'm afraid I cannot fix it my self. But can you take a look at this link (https://forum.faceswap.dev/viewtopic.php?t=14)?

@wookayin How do you think adding a windows support section in the documentation.

[2020-08-28 21:53] wookayin commented on #90
It is indeed a good datapoint where nvidia-smi works but PyNVML cannot load the shared library (first time seeing this). Not sure why, but the link you posted says:

So we should provide an instruction saying that the drivers should be obtained from the Nvidia website.

I will add some notes in the README, and add more informative error messages (which should be shipped from the next release thoug

[2020-08-28 22:01] wookayin commented on #90
In another issue #86, @eusoubrasileiro used a workaround of copying `nvml.dll` from `Windows\System32` to site-packages folder. This would be somewhat python-path-related problem and only a quickfix, but hope it helps.

[2020-08-28 22:03] wookayin commented on #86
Closing this issue as the error (nvml not found) was resolved. A similar issue is being tracked in #90 (which we will improve on).

For excluding graphics applications from the process list, please see #26.

[2020-08-28 22:03] #86 closed

[2020-08-29 02:55] radhikasethi2011 commented on #90
@Stonesjtu @wookayin updated my nvidia driver but nothing changed. Will uninstall and install again from the nvidia website and update here soon.

[2020-08-29 04:57] wookayin commented on #90
Did you mean you updated your driver through windows installer?

[2020-08-29 07:20] radhikasethi2011 commented on #90
@wookayin no, through the nvidia website. Will try the workaround

[2020-09-16 14:54] austinmw opened #91 "Offline install not working"
I read the previous closed issue related to this. All other offline installs are working for me besides this one. I downloaded and copied over from pypi and it hangs at `Processing /home/user/gpustat-0.6.0`.

[2020-09-16 14:58] austinmw commented on #91
Looks like it was failing due to no `pytest-runner`

[2020-09-16 14:58] #91 closed

[2020-09-25 08:30] cceyda commented on #10
would it be possible to get driver_version and cuda_version (if available) in the json output?

[2020-11-01 11:48] lintangtimur commented on #57
when i run `gpustat`
Error on querying NVIDIA devices. Use --debug flag for details

[code]

how?

[2020-11-03 14:10] khanakbar145 commented on #74
To solve this problem [click here ](https://youtu.be/yCMFygZ5SBA)

[2020-11-24 19:24] vnlitvinov opened #92 "Please make a new release"
Hi!

I'm observing `gpustat` as a soft dependency for `ray-project`, and because currently released version (`0.6.0`) is not installable on Windows I'm facing hard times enabling this dependency in `conda-forge`.

Knowing the compatibility issue is fixed in `master` for quite some time, it would be really good if you could make a new release.

References:
* PR to `conda-forge` feedstock of `gpusta

[2020-12-03 21:54] vnlitvinov commented on #92
ping @wookayin

[2020-12-03 21:58] wookayin commented on #92
Hi, thanks for your input. I will give a try to wrap up the rest of the milestone this weekend.

[2020-12-04 12:30] vnlitvinov commented on #92
Nice, thanks!

[2020-12-23 18:27] aeroaks commented on #91
Why do we require `pytest-runner` if we are not installing in development mode?

[2021-01-02 06:03] wookayin commented on #57
I have made a pre-release (beta) version which contains the fix of this issue. You can grab it as follows:

[code]

Stable release (1.0.0) will be out in the next few days.

[2021-01-02 06:03] #57 closed

[2021-01-03 09:39] garcolazo commented on #90
This was my solution hope it helps someone:

pynvml ask for nvml.dll on "C:\Program Files\NVIDIA Corporation\NVSMI\" and "C:\Windows\System32\", but the new installer puts the file in "C:\Windows\System32\DriverStore\FileRepository\nv_dispi.inf_amd64_aXXXXXXXXXXXXXX", just copy the dll from "FileRepostory" to the "Program Files" location.

If there is no "NVSMI" folder inside "C:\Program Files\NVI

[2021-01-03 19:59] eusoubrasileiro commented on #26
thank you all for the future enhancements. Awaiting for them. Congrats on the good work!

[2021-01-09 13:15] SeanPedersen opened #94 "Prints Warning"
Love this package but I am getting an annoying warning. Hope it can be fixed.

[code]

[2021-01-12 09:34] zhudd-hub opened #95 "No such file or directory: '/proc/30094/stat'"
I re-install gpustat by pip,it stall has error when I used gpustat:

[code]

so , what's wrong with my gpu,please help me

[2021-01-12 09:35] zhudd-hub commented on #95
@ashwin @wookayin hope your advice

[2021-01-12 13:50] wookayin commented on #94
This should not happen if you run `$ gpustat`, but yes it does happens with `python -m gpustat`. Let me take a look at how we can fix this.

[2021-01-12 13:52] wookayin commented on #95
I updated your original post to have stacktraces wrapped with code blocks.

Does it happen only once or constantly? Can you provide the output of `ps aux | grep 30094` when the error happened? What is the process with PID 30094?

[2021-01-12 13:58] SeanPedersen commented on #94
Actually I am not using python -m hypertag anymore so for it is no issue anymore. Just thought I should let u know.

[2021-01-12 14:37] zhudd-hub commented on #95
it happen constantly,and i run **ps aux | grep 30094** I got output as following:
`
$ ps aux | grep 30094
zhudd    30564  0.0  0.0  15980   932 pts/58   S+   22:33   0:00 grep --color=auto 30094
`
it seems nothing

[2021-01-12 15:29] wookayin commented on #95
So there is no such process with pid 30094 for you. I think NVML is still reporting the process is utilizing the GPU. Can you confirm it by showing me an output of `nvidia-smi` or `nvidia-smi --query-compute-apps=gpu_name,pid,name,used_memory --format=csv` ?

[2021-01-12 21:30] wookayin commented on #94
This already has been fixed in 5c05c3c. I just need to deliver a GA release.

[2021-01-12 21:30] #94 closed

[2021-01-12 23:41] zhudd-hub commented on #95
thank you  for your reply. you are right,when I use `nvidia-smi`, I got such output:
'''
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.32.00    Driver Version: 455.32.00    CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncor

[2021-01-13 02:56] wookayin commented on #95
Thanks. So it is a bug similar to #12, but we were already catching `psutil.NoSuchProcess`. For some reason `psutil` throws a wrong exception (it was supposed to throw `NoSuchProcess`).

I think this is a bug of psutil: see https://github.com/giampaolo/psutil/issues/1447 (fixed in 5.6.0). Can you confirm the version of psutil you are using?

[code]

[2021-01-13 03:09] zhudd-hub commented on #95
thanks for your advice，I confirm that my psutil's version is 5.4.7, I uninstall it and install the newest psuitl(5.8.0), whats more,I also re-install gpustat by pip just now,I am so sorry to show you it still have the same error when I use gpustat:
[code]

[2021-01-13 03:47] wookayin commented on #95
Hmm.. the bug from psutil still presents. I will add a workaround to ignore untranslated exceptions from psutil.

[2021-01-13 03:54] zhudd-hub commented on #95
A great job， I will continuely follw your work...

[2021-01-13 04:05] wookayin commented on #95
I pushed a fix for this. Please try the master version: `pip install -I git+https://github.com/wookayin/gpustat.git@master` and let me know if it works for you.

[2021-01-13 04:15] zhudd-hub commented on #95
yes, no more errors when used `gpustat`,however,new issue is coming:
[code]

[2021-01-13 15:24] wookayin commented on #95
@zhudd-hub Yours is not a normal situation -- as you can see in your `nvidia-smi` output, the memory usage cannot be reported (0M). So the NVML library reports this as erroneous. It often happens that GPU memory is not freed properly and does not show up in the process list (rebooting or other fixes required).

[2021-01-13 15:51] Haetsal-Lee opened #96 "Feature suggestion) Show running average of load instead of load at each time tick"

[2021-01-14 21:13] wookayin commented on #95
Closing as fixed.

[2021-01-14 21:13] #95 closed

[2021-01-29 18:12] joshlk opened #97 "What do the columns indicate?"
Sorry to ask a dumb question, but what do the columns in GPU stat indicate? I couldn't find an explanation in the readme.

[2021-01-30 07:30] shirishkz commented on #90
Thanks a ton, I was running into this issue earlier while working with some Pytorch/fastai models. Now it seems good. Thanks again.

[2021-02-01 07:12] wookayin commented on #97
I think this is very obvious, but let me explain for you:

[0] GeForce GTX Titan X | 77'C,  96 % | 11848 / 12287 MB | python/52046(11821M)

* [0]: GPUindex (starts from 0) as PCI_BUS_ID
* GeForce GTX Titan X: GPU name
* 77'C: Temperature
* 96 %: Utilization
* 11848 / 12287 MB: GPU Memory Usage
* python/...: Running processes on GPU (and their memory usage)

Compare the output from nvidia-smi.

[2021-02-01 07:12] #97 closed

[2021-02-01 09:13] joshlk commented on #97
Thanks 😃 . I have done a PR to add the information to the readme #98

[2021-02-19 17:50] frank-stonybrook opened #99 "watch at a constant interval seems to cause crashing of other gpu programs"
I just noticed that querying the gpu stats at a fixed interval (for my case is 15s) seems to cause crashing of other gpu programs. The querying process and other gpu processes are able to functioning properly at the beginning. But after sometime, other gpu processes are mysteriously disrupted. Running the same gpu processes without querying gpu stats do not have issues.  This condition happened th

[2021-02-19 18:04] frank-stonybrook commented on #99
sorry, I just noticed that a different run of same gpu program crashed without checking gpu stats. It might be due to my program...

[2021-02-19 18:04] #99 closed

[2021-03-04 11:33] vnlitvinov commented on #92
gentle bump @wookayin

[2021-03-18 14:41] JalinWang commented on #54
But I still have no idea of the difference between "watch -n 1 gpustat" and "gpu -i 1".
Both of them need to call print_gpustat() every tick, while 'watch' requires additional step to parse command line arguments again and again. So intuitively the former should took longer.

BTW, here is the source code of 'watch' if needed: [watch.c](https://gitlab.com/procps-ng/procps/-/blob/master/watch.c), wh

[2021-03-18 14:56] Stonesjtu commented on #54
Ter,

The most time is not spent on parsing CLI options actually, which only requires several us at most.

[2021-04-05 10:14] eduardatmadenn commented on #90
This worked perfectly, thank you !

[2021-04-15 08:59] DarthThomas commented on #34
Hi! I got the same problem, I changed some shebang and modified .bashrc to make conda work. But _curses.error: setupterm: could not find terminfo database is still here. Would you share how did you symlink(which file) and solved the problem?

[2021-04-30 08:31] vnlitvinov commented on #92
ping @wookayin

[2021-05-30 00:28] nikky4D commented on #90
This works for me with a slight change: The location of nvml.dll is now in C:\Windows\System32\DriverStore\FileRepository\nvrzui.inf_amd64_8df10ddaac270452

[2021-06-15 15:27] nizhib opened #101 "Hide processes at all by default?"
It's quite unexpected to have different flags for showing commands, pids etc. including users yet users are shown by default regardless the presence of the flag and there is no option to hide them.

Maybe we can just hide the last column by default or at least add the `--no-users/processes` option?

Use case: I have sequential `ssh host gpustat` calls as a bash alias and depending on the number of

[2021-06-22 16:05] armandpicard opened #102 "Add MIG support"
When using gpustat with MIG(Multi-Instance GPU) in Kubernetes we are not able to get metrics.

When running gpustat we get the main gpu name but not metrics about RAM.
![20210622_17h55m12s_grim](https://user-images.githubusercontent.com/33733022/122959712-672b4e80-d383-11eb-8520-ce07fd250509.png)

This is due to the lack of permission on the root GPU.
We could get information about MIGs when listi

[2021-06-24 06:27] githuborer opened #103 "Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-rAk23I/gpustat/"
Not installed with pip:

Many Errors with pyton2.7 setup.py:

# pip install gpustat
Collecting gpustat
  Downloading https://files.pythonhosted.org/packages/b4/69/d8c849715171aeabd61af7da080fdc60948b5a396d2422f1f4672e43d008/gpustat-0.6.0.tar.gz (78kB)
    100% |████████████████████████████████| 81kB 2.0MB/s
    Complete output from command python setup.py egg_info:
    /tmp/easy_install-qr3GKR/pyt

[2021-06-24 06:50] Stonesjtu commented on #103
It has nothing to do with this package. I'm afraid that your Python
environment is broken. e.g. the python2.7.X version is not up-to-date.

btw, we highly recommend you to used python3.7 and above.

On Thu, Jun 24, 2021 at 2:27 PM githuborer ***@***.***> wrote:

[2021-06-29 09:18] githuborer commented on #103
U're right. my python is old and broken. I 'll upgrade

[2021-06-29 09:18] #103 closed

[2021-07-02 08:30] wookayin commented on #102
Thanks for reporting this. Would you able to get any relevant information from raw `nvidia-smi` command? If you have any good reference/documentation about it, that'd be also helpful.

[2021-07-02 08:32] wookayin commented on #101
Adding an option to suppress process information makes sense, although it wouldn't be a default behavior.

[2021-07-03 00:58] sisrfeng commented on #51
Hi, when can we use a config file?
Would you mind telling us how to modify the code to hide the gpu name and temperature?
Thx!

[2021-07-05 18:44] neighthan commented on #51
@sisrfeng if having a config file is important to you, you could look at my repo [here](https://github.com/neighthan/gpu-utils). I found it easier to just write a little script for this myself rather than trying to add the functionality to `gpustat` (especially as I already had some code for getting gpu info). My repo isn't popular like this one, though, so I haven't bothered adding much documenta

[2021-07-05 18:46] neighthan commented on #51
@sisrfeng if having a config file is important to you, you could look at my repo [here](https://github.com/neighthan/gpu-utils). I found it easier to just write a little script for this myself rather than trying to add the functionality to `gpustat` (especially as I already had some code for getting gpu info). My repo isn't popular like this one, though, so I haven't bothered adding much documenta

[2021-07-20 03:06] Lmy0217 opened #104 "Failed to run `gpustat -eP` when `e` and `P` are used together"
I run the command `gpustat -eP` (version 1.0.0b1) and got the error:
[code]
This phenomenon occurs when `e` and `P` are used together.

[2021-07-20 03:07] #104 closed

[2021-07-22 02:46] hstk30 commented on #72
Hi, I meet this problem also. But, my `nvidia-smi` can show process info, but `gpustat` is show `Not Supported` about process info. I upgrade `gpustat` 0.4.1 to 0.6 still not work.
Is `gpustat` need some Authority to access process info ?

[2021-07-22 03:52] hstk30 opened #105 "pynvml not support lookup process info"
When I call `nvmlDeviceGetGraphicsRunningProcesses`, raise below exception.

[code]

So, I guess may be is the `pynvml` change something lead to this problem
[#72 ](https://github.com/wookayin/gpustat/issues/72)

[2021-07-22 08:39] Stonesjtu commented on #105
Can you provide your `pynvml` version and `Nvidia-smi` output.

[2021-07-22 09:06] hstk30 commented on #105
Below is `nvidia-smi` and `gpustat` output, and my `pynvml` is 11.0.0

![nvidia-smi output](https://user-images.githubusercontent.com/42362747/126614706-83721cf5-c862-4152-9aff-e4421f531e92.png)

![gpustat output](https://user-images.githubusercontent.com/42362747/126614798-0f0ca40b-adee-4e9b-b463-eb8b90b20d1e.png)

[2021-07-23 09:06] jungwon-choi commented on #90
You can solve this issue as belows:
1. Search "nvml.dll" file in "C:\Windows\System32\DriverStore\FileRepository"
2. Copy "nvml.dll" file to "C:\Program Files\NVIDIA Corporation\NVSMI" (Make NVSMI folder if not in there by yourself)
3. Done

[2021-07-26 07:06] yskimno1 opened #106 "MIG support - GPU utilization, etc."
![image](https://user-images.githubusercontent.com/38938677/126946795-1910e863-01f1-4841-ab1a-2c78ba32da96.png)

![image](https://user-images.githubusercontent.com/38938677/126946872-7c1ceee1-bb27-4c3f-a87f-5f2b99c37371.png)

When I use gpustat in MIG mode A100, I cannot see divided devices.
I think gpustat command should also support GPUs in MIG-mode. (Each divided devices' memory stats & compute

[2021-07-29 13:01] wookayin commented on #106
Thanks for your suggestion. Let's discuss in #102.

[2021-07-29 13:01] #106 closed

[2021-07-29 13:11] wookayin commented on #102
The issue is that the `pynvml` library we are relying on is not aware of [MIG](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/index.html). One dirty but quick workaround would be parsing `nvidia-smi` output, but this doesn't seem right.

So I'll have to re-implement the low-level library *on our own*, apart from `pynvml`, using nvidia's official NVML C API, or simply fork [`pynvml`](https

[2021-07-29 13:19] wookayin commented on #102
I realized that there is now an *NVIDIA official* python nvml binding: https://pypi.org/project/nvidia-ml-py/ and this has MIG support. So we'll have to switch to this `pynvml` library, then adding MIG support won't be difficult to implement (although I don't have any A100/MIG GPU available). Please stay tuned!

[2021-07-29 13:23] wookayin commented on #105
The package `pynvml` is implemented by many implementations: we were using `nvidia-ml-py3` but it seems that you are using a [different one](https://pypi.org/project/nvidia-ml-py/). Can you please try installing `nvidia-ml-py3` and see if it works? We will move to the official binding, in which case such conflicts might be gone.

[2021-07-29 13:31] armandpicard commented on #102
I've try to use this library here https://github.com/instadeepai/gpustat/tree/fix-add-MIG-support but some functions do not support MIG for the moment like `nvmlDeviceGetUtilizationRates`( https://docs.nvidia.com/deploy/nvml-api/group__nvmlDeviceQueries.html#group__nvmlDeviceQueries_1g540824faa6cef45500e0d1dc2f50b321)

[2021-07-29 15:26] wookayin commented on #102
The [API documentation](https://docs.nvidia.com/pdf/NVML_API_Reference_Guide.pdf) says

[2021-07-30 09:03] hstk30 commented on #105
![image](https://user-images.githubusercontent.com/42362747/127629254-632c8e57-ecea-4e9d-a02e-c9ee627623cd.png)

@wookayin  I installed surely `nvidia-ml-py3`, still not work

[2021-07-30 09:29] zhch-sun commented on #96
nice feature

[2021-07-30 10:04] wookayin commented on #105
Your pynvml seems okay. So the following doesn't work for you right?
[code]

Your shared library reads `/lib64/libnvidia-ml.so.1` which sounds suspicious. Mine is `/usr/lib/x86_64-linux-gnu/libnvidia-ml.so.1` (symlinked to `..so.4XX.XX`) How did you install nvidia drivers?

Can you please provide an output of `ldconfig -p | grep nvidia-ml`? Have you tried running `ldconfig`? Do you have `libnvidia

[2021-08-02 01:46] hstk30 commented on #105
![image](https://user-images.githubusercontent.com/42362747/127793225-61ba5f08-04e7-413a-95dc-6cd11867c44d.png)

This is my `ldconfig -p | grep nvidia-ml` result.
![image](https://user-images.githubusercontent.com/42362747/127793598-7f7adc80-6000-4f29-b432-96f2f4342a6f.png)

Maybe, my OS is `centos` so the dirctory is different?

[2021-08-02 05:51] hstk30 commented on #105
Oh, I have two python virtual environment, one work well, another is the mentioned above.

[2021-08-02 06:39] wookayin commented on #105
[code]

In that environment you probably have a broken, wrong pynvml installed. `/lib64/libnvidia-ml.so` is probably fine if yours is CentOS.

[2021-08-03 01:54] hstk30 commented on #105
I find the problem, in my work well venv, the `pynvml` is just a file in

[code]

and the failed work venv, the `pynvml` is a python package

[code]

So, I just remove the `pynvml` package, and copy the `pynvml.py` file to `site-packages` directory, then `gpustat` is work well.

But, I don't know why there have this different, I'm sure I use `pip` to install package by regulation, should not occur

[2021-08-03 01:54] #105 closed

[2021-08-03 03:25] wookayin commented on #105
@hstk30 Thanks for the information. `pynvml` is expected to be a single-file module if `gpustat` has been installed properly. Maybe other packages you installed have a dependency that conflicts with `pynvml`.

I am curious what they are -- could you provide how you accidentally installed those? Maybe [this one](https://github.com/gpuopenanalytics/pynvml)? I am going to add some warning messages in

[2021-08-04 09:50] hstk30 commented on #105
I guess maybe is [Hanlp](https://github.com/hankcs/HanLP) depends `pynvml`,  I'm not sure.

[2021-08-04 10:49] wookayin commented on #105
@hstk30 That seems correct. It should never use `pynvml` as a dependency; actually this package should never exist.

[2021-08-04 11:55] XuehaiPan commented on #102
The official implementation of NVML Python Bindings ([nvidia-ml-py](https://pypi.org/project/nvidia-ml-py)) added MIG support since `nvidia-ml-py>=11.450.129`. But this will cause `NVMLError_LibraryNotFound` at `_nvmlGetFunctionPointer("nvmlDeviceGetComputeRunningProcesses_v2")` for old NVIDIA drivers:

[code]

If we want to keep the simple install instruction `pip3 install gpustat`, it could be h

[2021-08-04 12:39] wookayin commented on #102
@XuehaiPan Thanks; we will be using the official python bindings, which I already implemented but will be pushed quite soon. I wasn't aware that there is such a backward incompatibility around `nvmlDeviceGetComputeRunningProcesses_v2`. So we must check this carefully with "old" GPU cards or "old" NVIDIA driver --- I wonder what is the exact setup to break. Also we might need to workaround this. On

[2021-08-04 13:36] XuehaiPan commented on #102
On Ubuntu 16.04 LTS, the highest supported version of NVIDIA driver is `nvidia-430`:

[code]

Although Ubuntu 16.04 LTS has reached the end of its five-year LTS window on April 30th 2021.It is still widely used in industry and research laboratories due to poor IT services :(.

`nvidia-ml-py==11.450.51` works fine on Ubuntu 16.04, but it does not have binding functions for MIG support.

[code]

`nv

[2021-08-04 16:25] wookayin commented on #102
So I think the driver version is old, not the graphic card. It is recommended to install nvidia drivers from official binary.

With the old nvidia drivers, however, can you try the following?
[code]
I guess v1 will still work but v2 will raise as you already showed in the stacktrace. In my environments with a recent version of nvidia driver, both work.

[2021-08-04 17:19] XuehaiPan commented on #102
| v1 | NVIDIA 430.64 | NVIDIA 470.57.02 |
| :---: | :---: | :---: |
| `nvidia-ml-py==11.450.51` | works but without `CI ID` / `GI ID` | works but without `CI ID` / `GI ID` |
| `nvidia-ml-py>=11.450.129` | works but with zero `CI ID` / `GI ID` | works but with zero `CI ID` / `GI ID` |

| v2 | NVIDIA 430.64 | NVIDIA 470.57.02 |
| :---: | :---: | :---: |
| `nvidia-ml-py==11.450.51` | function not fou

[2021-08-05 04:01] wookayin commented on #102
@XuehaiPan Can you elaborate on the meaning of CI ID / GI ID?

[2021-08-07 14:19] cbiertue opened #108 "Feature request: watch mode without clearing page"
Hi,
Can you change the way how the watch mode 'gpustat -i <time>' is displayed? I would prefer to have it appended to the current terminal output instead of clearing the page - i.e. in the same way as 'gpustat' is displayed.
That would allow to see the previous terminal input as well as showing the last gpustat output after quitting the program.
To me, it would also feel more natural instead of ha

[2021-08-09 03:16] wookayin commented on #108
I don't think changing the behavior of `gpustat -i` is a good idea but we can add another watch mode as described. But actually there is a very easy (alternative) way to do this:

[code]

[2021-08-12 14:58] h-vetinari commented on #57
Any update on this?

[2021-08-13 10:54] wookayin commented on #50
This was implemented in #65. Will make a release soon, but in the meantime please try installing `gpustat==1.0.0b1`.

[2021-08-13 10:54] #50 closed

[2021-10-20 13:40] kobiche opened #109 "Misssing flags"
I tried setting the flags:
- --show-all
- --show-full-cmd
- --show-codec

and they are unrecognized by the program. Am I missing something? Because they appear in the README file

[2021-11-02 23:51] wookayin commented on #109
New flags are not released as stable, sorry. Try installing `gpustat==1.0.0b1` or the nightly: `pip install git+https://github.com/wookayin/gpustat`

[2021-11-03 09:44] kobiche commented on #109
Oh, sad to hear that. But I'll wait :)

[2021-11-03 09:44] #109 closed

[2021-11-18 01:30] Magu99 opened #110 "Error trying to run"
Didn't work, running debug got this message:

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/gpustat/__main__.py", line 19, in print_gpustat
    gpu_stats = GPUStatCollection.new_query()
  File "/usr/lib/python3/dist-packages/gpustat/core.py", line 281, in new_query
    N.nvmlInit()
  File "/usr/lib/python3/dist-packages/pynvml.py", line 615, in nvmlInit
    _nvmlCheckRe

[2021-11-18 09:39] XuehaiPan commented on #110
@Magu99 If you are using Linux, this is caused by the driver module is not loaded by the Linux kernel.

It may be caused by upgrading your kernel without rebuilding your NVIDIA driver module. Usually, it may arise when you install the driver using the `.run` file then upgrade your Linux kernel.

[2021-11-18 23:24] wookayin commented on #110
As @XuehaiPan suggested, please reinstall the nvidia-driver and make sure `nvidia-smi` works.

To see whether nvidia driver has been loaded on your kernel:
[code]

[2021-11-18 23:24] #110 closed

[2021-12-13 03:52] shaonianruntu opened #111 "[BUG] Font Color Display Problem"
There are some color display problem of `gpustat`, as show as below:

![145749576-ea38fc45-0480-4a24-9010-156193a35232](https://user-images.githubusercontent.com/16336682/167794027-6bb4d128-27ad-485a-8dcd-29425e2e22e9.png)

![2022-05-11 at 15 31 59](https://user-images.githubusercontent.com/16336682/167793892-48066fc8-f2b5-4405-ba39-6aee84bb2a18.jpg)

![截屏2021-12-13 at 11 53 15](https://user-image

[2021-12-14 04:41] ant0n-anon opened #112 "No package metadata was found for gpustat"
OS: Arch Linux x86_64
Kernel: 5.15.7-arch1-1
Plasma: Plasma 5.23.4

After latest arch update:

[code]

[2021-12-14 09:27] Stonesjtu commented on #112
try python -m gpustat.  Seems you have invoked gpustat with the wrong python interpreter.

Sent from my iPhone

[2021-12-14 15:17] ant0n-anon commented on #112
@Stonesjtu : no module named gpustat.

i used to always use gpustat -cp --watch

[2021-12-14 19:32] ant0n-anon commented on #112
seems to be a python problem with the new update. many other people having issues with many other software after this last update.

[2022-01-14 06:14] LinghaoChan opened #113 "Can I get the information about the GPU utilization of each user?"
Can I get the information about the GPU utilization of each user?

[2022-01-14 06:41] Stonesjtu commented on #113
I don't think nvidia-ml library can report GPU utilization per user. Do you find a solution for that?

[2022-01-14 06:46] LinghaoChan commented on #113
No. My leader asked me to write a shell script to monitor everyone's GPU utilization. However, I have no idea and I am looking for a solution for it.

[2022-01-14 15:21] herrenP commented on #112
Has anyone found a solution/work around?

[2022-01-14 16:25] herrenP commented on #112
I should mention that I prior to the solution installed `pynvml` but I am not sure if that was ultimately needed or not.

[2022-01-21 03:35] Yevgnen commented on #111
Same issue here.

[2022-01-29 06:46] wookayin commented on #112
Have you tried installing it from a clean status, like `pip install --force-reinstall gpustat` ? Your python packages probably have got corrupted.

[2022-01-29 06:51] wookayin commented on #113
I think this can be implemented using `nvmlDeviceGetProcessUtilization` API, which reports encoder/decoder/compute utilization per process.

[2022-02-05 10:17] ck853178967 commented on #34
My command for reference
`ln -s ~/anaconda3/lib/terminfo ~/.terminfo`

[2022-02-09 05:22] #112 closed

[2022-02-09 05:22] ant0n-anon commented on #112
that was it! thank you!!!

[2022-03-08 04:24] sorrowyn opened #116 "[BUG] memory size is different"
memory size is different
![图片](https://user-images.githubusercontent.com/19569162/157165758-4f6add13-16d9-4bfe-96c6-3a946c781ef4.png)

[2022-03-09 11:04] XuehaiPan commented on #116
`nvidia-smi` and [`nvidia-ml-py`](https://pypi.org/project/nvidia-ml-py/#history) give different results with the NVIDIA R510 driver.

[code]

![R510](https://user-images.githubusercontent.com/16078332/157428852-70fe235c-9461-4447-a1d7-f70bd446a113.png)

[2022-03-10 03:18] sorrowyn commented on #116
Thank you for your sincere reply

[2022-03-12 15:03] zhanjiahui commented on #95
i find a bug:
![图片](https://user-images.githubusercontent.com/36075322/158022869-09a48599-7902-4d8c-a359-92f7089a8b69.png)
![图片](https://user-images.githubusercontent.com/36075322/158023263-a7fd8e38-c3c1-4f2d-b3b6-c1aa2eca3ab8.png)

and then, i kill the three process from root. However, my gpustat was useless like this:
[code]
and then i used ```pip install -I git+https://github.com/wookayin/gpust

[2022-03-15 15:34] wookayin commented on #116
See https://github.com/wookayin/gpustat/pull/107#issuecomment-893513321, and I will mark this as a duplicate in favor of #107. I will need to update gpustat to use the official bindings `nvidia-ml-py`==11.515.0` so that process information can be correctly retrieved.

[2022-03-15 15:34] #116 closed

[2022-03-30 03:22] danilhendrasr opened #117 "GPU Processes are Not Listed When Running Inside a Docker Container"
I'm running a program to benchmark [NVIDIA Video Codec SDK](https://developer.nvidia.com/nvidia-video-codec-sdk) inside a container and I need to measure the GPU memory usage. I do this by filtering the GPU processes first and getting the memory usage of that process. However, gpustat doesn't show GPU processes correctly like it does when not running inside a container.

GPU processes when running

[2022-03-30 03:33] danilhendrasr commented on #117
Nvm, turns out I just need to run `docker run` with `--pid host` arg.

[2022-03-30 03:33] #117 closed

[2022-04-23 22:37] krenem commented on #69
I have the same problem with the ``_curses`` modul on windows 10. Any updates?

[2022-04-25 09:16] LXXXXR opened #119 "Customized color?"
Thank you for such a handy tool!

I just have a question about customizing color.
I'm using the newest version of gpustat. But when I use command `gpustat --watch -u -c`, I can not see the username because it is set to black I guess. Please see the attached screenshot.
<img width="683" alt="Screenshot 2022-04-25 at 5 09 26 PM" src="https://user-images.githubusercontent.com/73265258/165058420-00f1f

[2022-05-04 06:58] mattip opened #121 "WINDOWS: querying a psutil process can fail with psutil.AccessDenied"
gpustat is used in [ray's dashboard](https://docs.ray.io/en/latest/ray-core/ray-dashboard.html) to gather GPU info. When running `python -m gpustat --debug` I am seeing an exception when querying the username of a process (in this case it is a windows service called [dwm.exe](https://www.howtogeek.com/howto/windows-vista/what-is-dwmexe-and-why-is-it-running/) running windows display compositing se

[2022-05-10 08:17] git2013vb opened #122 "Not supported?"
I tried it using

`gpustat -cpFP --watch`

I use Debian 11.

Here my result :

![image](https://user-images.githubusercontent.com/13235119/167581911-d4ea9ff3-9641-43cb-9029-e00768929d0e.png)

When I run something in gpu it sow me the amount of memory used only:

![image](https://user-images.githubusercontent.com/13235119/167582249-2ef2d942-5ff1-42db-95d8-666ffb112d89.png)

Any hints? I miss someth

[2022-05-10 08:22] Stonesjtu commented on #122
The GPU is too old to report the process running on it.

[2022-05-20 15:56] cdhinrichs opened #124 "process basename includes command args"
Problem: if I use the -c flag, I would like to know the command that was called, but not its arguments. For example, if chromium is one of the processes to be shown, I would like it to simply say `chromium`, and not

[code]

I found that by adding the following line to core.py after line 303 fixed the issue for me. This splits everything off of the command after the first space, if there is one.
`

[2022-05-24 05:41] wookayin commented on #122
Can you show me the output of `gpustat --debug`? I guess the graphics driver is too old, lacking the process-related APIs.

[2022-05-24 05:42] wookayin commented on #121
Thanks for the suggestion. This is definitely a corner case that happens in Windows. Let me try fixing this soon.

[2022-05-24 07:23] git2013vb commented on #122
Sure :)

[code]

[2022-05-24 10:59] git2013vb commented on #122
No problem.  But I prefer do not use pip for installing it. (I have anaconda installed)
So in alternative I downloaded the source code and I run `python ./setup.py bdist`. Then I extract the .gz then I run it from the folder where the compiled file was
[code]

I got it right anyway?

[2022-05-24 18:00] wookayin commented on #122
Using `pip` inside anaconda is *perfectly fine* and has absolutely no problems. Make sure `pip` refers to the one in your anaconda bin path.

I'm pretty sure you didn't do the installation correctly. `setup.py bdist` does not install the package. You'll need to do `pip install -e` or `python setup.py develop`.

Or If you have cloned or downloaded the project, you can simply run `python -m gpustat

[2022-05-27 13:46] XuehaiPan commented on #124
Just upgrade your `psutil` to `>= 5.6.6` will fix this.

[code]

See https://github.com/giampaolo/psutil/commit/edb20f664f28653dcdd24f0bf0191984738dca6e

[2022-05-27 14:55] cdhinrichs commented on #124
I see - apparently I was using /usr/bin/gpustat which used the system python, rather than my conda version which is more up to date.

[2022-05-27 14:55] #124 closed

[2022-05-30 08:10] xk-huang commented on #122
Solve the #95 :smile:

[2022-05-31 13:56] #121 closed

[2022-05-31 18:02] mattip commented on #121
I can confirm that this fixes the issue, `python -m gpustat --debug` no longer crashes

[2022-06-07 03:29] wookayin commented on #111
This is a duplicate of #9.

[2022-06-07 03:29] #111 closed

[2022-06-10 08:17] skat00sh opened #125 "Is it possible to query just one GPU?"
`nvidia-smi` has a flag/argument to query and monitor just one GPU using
`nvidia-smi -id=<id>`
I don't see any such flag or option for `gpustat`

It is usually helpful when let's say out of 4 or 5 GPUs one is having issue with device drivers and on querying `nvidia-smi` fails but if we query the individual GPUs, then the it produces regular results for the ones that are healthy.

It would be even

[2022-06-13 10:44] GoingMyWay opened #126 "Disable apt to install gpustat"
Hi, I tried to use `apt` in Ubuntu to install gpustat and it changed the cuda driver, leading to the driver mismatch. It took me 2 hours to detect this issue. Can you disable `apt` to install gpustat?

[2022-06-14 14:14] wookayin commented on #126
I do not maintain apt repository (the maintainer of the `gpustat` package in the aptitutde is not me) and never intended to have it. A third-party uploaded the package so I don't have a control over it.

I will try to reach out the maintainer to see if this would be possible. Actually there is absolutely no reason for apt-installed gpustat should install a nvidia driver.

[2022-06-14 14:17] wookayin commented on #125
Have you tried this with the latest development version? I guess when one device is failing, the latest version of gpustat would report the results for other drivers. We can ignore such errors and have a fallback mode (rather than querying individually and merging them)

[2022-06-14 14:29] GoingMyWay commented on #126
I see. Thanks for the clarification.

[2022-06-14 14:29] #126 closed

[2022-06-15 12:25] skat00sh commented on #125
I'm on version `0.6.0` and I get this output on `gpustat`
`Error on querying NVIDIA devices. Use --debug flag for details`

on using `nvidia-smi -L` I get to know that one of the GPU drivers have some issue.
`Unable to determine the device handle for gpu 0000:08:00.0: Unknown Error`

I didn't exactly understand what fallback mode means here?

[2022-07-04 07:10] mattip commented on #92
Any thoughts about a release? It would be nice to get a fix for #121 into an official wheel.

[2022-07-04 07:12] mattip commented on #121
On the one hand I am the only responder to this issue: the OP has not responded since opening it, so I am inclined to close it. On the other, there is a known failure with gpustat on windows when using nvidia drivers for system processes. While the issue was fixed, gpustat has not made an official release in over a year. Maybe we should vendor the HEAD of gpustat into the dashboard agent code?

[2022-07-04 10:10] wookayin commented on #122
Let me close this issue due to lack of activity. I believe this is because your graphics driver is too old, so please try upgrading the nvidia driver if possible. If you still have the problem, please inform us the following and I will reopen the issue:

- Your installed nvidia-driver version (390.144)
- The name/model of your nvidia graphics card (e.g. GT 650M)
- gpustat version  (Please try the

[2022-07-04 10:10] #122 closed

[2022-07-04 10:11] wookayin commented on #119
Duplicate of #9 and #51. Sorry, I'll try to implement the feature sometime soon..

[2022-07-04 10:11] #119 closed

[2022-07-04 10:14] wookayin commented on #108
Given there is a easy way with shell script, to make gpustat printed periodically without clearing the terminal, I will close this issue as unplanned. It'd be difficult to change the existing behavior of `-i`; we may add a new feature/mode, but since the behavior is not difficult to achieve this isn't be of a high priority.

[2022-07-04 10:15] #108 closed

[2022-07-05 04:40] wookayin commented on #92
@mattip I am sorry for my inactivities on releasing. I just published `gpustat==1.0.0rc1` which includes #121 (as well as #57, included in `1.0.0b1`). It took a while for me to deal with pynvml incompatibility issues. Please try whether the wheel installed via pip works for you. Thanks for your patience!

[2022-07-05 05:59] mattip commented on #92
Thanks. I will try it out

[2022-07-05 07:39] wookayin commented on #72
This is probably when your **driver version is too old**. gpustat does not require any sudo privileges

Other scenarios includes when a multi-instance GPU (MIG) is used: see #102. Or, as of 2022, it could also happen when nvidia drivers and pynvml version are not compatible. Please read README for more information, and open a new issue if you still have the same problem.

[2022-07-06 12:29] wookayin commented on #125
@skat00sh Can you please provide the full output of `gpustat --debug` (please install the dev version, or more conveniently `1.0.0.rc1`)? I'd like to see which particular exception/error has been raised in your specific case.

[2022-07-06 20:15] skat00sh commented on #125
Sure! Here's the output for the suggested version
[code]

[2022-07-08 02:50] wookayin commented on #126
Contact Mo Zhou <cdluminate@gmail.com>.

[2022-07-08 02:59] GoingMyWay commented on #126
@wookayin Thanks for the help. I will contact Mo Zhou.

[2022-07-18 09:19] tengzi-will commented on #102
I have the same issue，`NVMLError_FunctionNotFound` at `_nvmlGetFunctionPointer("nvmlDeviceGetComputeRunningProcesses_v2")`
Should I upgrade the driver version？

[2022-08-02 08:44] DaShenZi721 opened #128 "Show running time of processes"
I think it's better to display the running time of every process!

[2022-08-04 17:43] wookayin commented on #102
@tengzi-will Yes you should upgrade nvidia drivers to 450.66 or higher.

[2022-08-08 19:51] #47 closed

[2022-08-08 19:53] wookayin commented on #47
This now has been implemented and will be a part of v1.0 release (since it's a kind of breaking change).

Longer GPU names will truncate at left, because GPU cards are better distinguishable with suffixes rather than prefixes. For example:

[code]

[code]

[2022-08-11 14:30] wookayin commented on #10
@cceyda driver version has been added in the JSON output.

However, cuda version isn't something gpustat cannot retrieve from querying nvidia driver. The cuda runtime may vary by applications and dynamic libraries being loaded. Please refer to https://stackoverflow.com/questions/9727688/how-to-get-the-cuda-version for how to get the cuda version.

[2022-08-22 20:22] anamariaUIC opened #130 "memory usage"
Hi,

I am comparing output of your command with nvidia-smi. I wonder why is that number 103 under memory usage with gpustat which I am not seeing with nvidia-smi.

[code]

[2022-08-25 19:53] wookayin commented on #130
Can you try with the latest development version? Say `pip install gpustat==1.0.0rc1`  I guess this is due to incompatibility between nvidia drivers and legacy pynvml API.

[2022-09-03 02:14] git2013vb commented on #122
Sorry for the delay :) I post all info I can for completion:

[code]
My current driver is 390.151

I cannot update the latest NVIDIA driver because my card is not supported by them anymore, Nevertheless I can use it flawless (I tested I can run pvkrun, optirun and primusrun at same time with no problems)

I guess I don't have yet the latest gpustat version installed. it's mandatory or my info here

[2022-09-04 23:30] wookayin commented on #10
There won't be breaking changes in the units (e.g. MB vs bytes) but later we will add a flag/option to specify the units.

[2022-09-04 23:30] #10 closed

[2022-09-04 23:52] wookayin commented on #92
I just released v1.0.0 to pypi. Thank you for your patience.

[2022-09-04 23:52] #92 closed

[2022-09-04 23:53] wookayin commented on #57
I just released v1.0.0 to pypi, so from now on `pip install gpustat` will install a stable version which should work well on windows platforms.

[2022-09-04 23:56] wookayin commented on #90
Let me close this issue now, now that we have v1.0 released. I believe the new version of pynvml should have no problem, but if anyone runs into a similar issue on Windows, please create a new issue. Thanks.

[2022-09-04 23:56] #90 closed

[2022-09-04 23:58] wookayin commented on #49
Hiding gpu name is now possible with `gpustat --gpuname-width 0` (#47). Hiding other columns will be added in the next versions.

[2022-09-04 23:58] wookayin commented on #15
Partially done in README.

[2022-09-04 23:58] #15 closed

[2022-09-05 07:43] skjerns commented on #57
whoops, that crashed my computer with a BSOD. It briefly showed the correct output though.

[2022-09-05 13:03] mattip commented on #92
Thanks

[2022-09-05 13:04] mattip commented on #92
and congratulations on 1.0.0

[2022-09-05 15:52] MohamedAliRashad opened #132 "How to get gpustat inside python file ?"
I want to be able to get a dictionary with the data found in `gpustat.print_gpustat`
How to do this ?

[2022-09-05 21:50] wookayin commented on #132
For example:

[code]

The entry representation would be the same as the JSON output (#10).

[2022-09-05 21:50] #132 closed

[2022-09-13 22:19] wookayin commented on #130
Closing due to inactivity, please comment if it's still an issue with `gpustat>=1.0.0`.

[2022-09-13 22:19] #130 closed

[2022-09-13 22:34] wookayin commented on #122
gpustat 1.0.0+ supports driver version 450.00 or higher. gpustat 0.6.0 would work with R390.151, but there might be some bugs.

You can try `gpustat --debug` to get more information about errors with the v1.0.0 version, but my understanding is that the graphics card (GT 650M) is too old so it does not support listing running processes.

[2022-09-14 00:18] wookayin commented on #125
@skat00sh Thanks for the information. It is strange that pynvml throws `Unknown Error`.

This is a special case of #81 so I rewrote #81 so that when one gpu is failing, it will display an error instead of throwing an error. Example:

[code]

[2022-09-26 22:23] Jasha10 opened #134 "gpustat --debug: pynvml.NVMLError_LibraryNotFound: NVML Shared Library Not Found"
I'm having a similar issue to #35.
Here is my system info:
os: Ubuntu 20.04
[code]
[code]
[code]

[2022-10-01 03:43] wookayin commented on #134
Can you show the output of `ldconfig -p | grep libnvidia-ml`? It should print something if nvidia driver is properly installed:

[code]

How did you installed nvidia drivers?

[2022-10-05 17:07] JohnCoates opened #135 "Display thermal throttles"
`nvidia-smi` lists Max Clocks and current Clocks. It would be nice to be able to see these, and maybe display these in a % so you know how much you're throttled.

example:

[code]

[2022-10-05 17:10] JohnCoates opened #136 "Show graph"
It would be useful to show a graph of historical values.

Maybe something like this:
![example_sensors](https://user-images.githubusercontent.com/967800/194120489-373cd89c-0e8d-4140-9ee4-bbaf51924fda.png)

https://github.com/deeplook/sparklines

[2022-10-07 20:26] wookayin commented on #134
I'm going to close this issue due to inactivity, assuming the nvidia driver or nvidia-smi installation was not appropriate.

[2022-10-07 20:40] Jasha10 commented on #134
Sorry I missed your previous message.

I'm getting no output:
[code]

[2022-10-07 20:41] Jasha10 commented on #134
What's strange is that the GPUs seem to be working fine and the `nvidia-smi` is working too.

[2022-10-07 20:56] wookayin commented on #134
This is why it's not working. But what's strange is that all the dynamics libraries from `ldconfig -p` are from linuxbrew. Perhaps linuxbrew is overriding LD_LIBRARY_PATH completely. You can check out `/etc/ld.so.conf` and `/etc/ld.so.conf.d/*`; one of the conf files will contain path to SYSTEM libraries (e.g. `/lib/x86_64-linux-gnu` in Ubuntu systems).

What is the path of `nvidia-smi`? (`which -

[2022-10-07 21:43] Jasha10 commented on #134
Yes, it seems `ldconfig` was provided by linuxbrew's glibc formula.
[code]
After commenting out my `~/.bashrc` file so that linuxbrew is no longer active, I'm getting the following from ldconfig:
[code]
After commenting out `.bashrc`, I'm now getting different output from `gpustat`:
[code]

[2022-10-07 21:49] Jasha10 commented on #134
Hmm, it seems `nvidia-smi` is no longer installed on my system. It *was* working last week when I opened this issue. The change between now and then is I upgraded from ubuntu 20.04 to 22.04.

I believe I installed them from the nvidia.com downloads page.

[2022-10-07 22:07] #134 closed

[2022-10-07 22:26] Jasha10 commented on #134
Upon further investigation, I'd installed `gpustat` using `pipx`, and I'd installed `pipx` using linuxbrew.

The problem is solved by installing `gpustat` via a python version that is *not* provided by linuxbrew.

[2022-10-09 21:58] NouamaneTazi opened #137 "AMD support"
Is there any plans to support AMD GPUs? I really like your library.

Thanks.

[2022-10-10 20:28] wookayin commented on #137
Not at the very moment, but adding AMD support will be great. One major limiter is that I don't have an access to any AMD GPUs (physically or via cloud) --- If you can suggest me an affordable test (linux) environments with AMD GPUs, that'd be awesome.

[2022-10-12 03:37] wookayin commented on #125
Fixed by #81.

[2022-10-13 07:02] sandove opened #138 "No process info, just "Not Supported""
This tool is really useful, but I encounted a problem.

**What I tried**
➜ gpustat
[code]

➜ gpustat --debug
[code]

However, "nvidia-smi" works well:
➜ nvidia-smi
![image](https://user-images.githubusercontent.com/20484005/195522557-d0f91b34-7597-4cd4-b004-7b98e8e76fcc.png)

I tried re-install "nvidia-ml-py3" 11.495.46, still not works.
More information:
![image](https://user-images.githubusercon

[2022-10-14 23:21] wookayin commented on #138
Your nvidia driver version is 450.36. Since gpustat 1.0, you'll need to install driver version R450.66 or higher. See #107 for why.

[2022-10-15 05:52] sandove commented on #138
Yes, I switch to gpustat 0.6.0 and it works fine. Thank you!

[2022-10-15 05:52] #138 closed

[2022-10-15 17:54] OmegAshEnr01n opened #139 "installing gpustat causes new Cuda drivers to overwrite"
Hi,

So I have a container for an Nvidia/cuda image. The container comes with an installation of Cuda and its drivers.
After installation I get this error -> Failed to initialize NVML: Driver/library version mismatch

[2022-10-15 19:53] wookayin commented on #139
What is the nvidia driver version are you using in the docker image (before installing gpustat)?

Installation of gpustat does not affect nor update CUDA libraries or NVIDIA drivers. How did you install gpustat?

[2022-10-22 19:02] wookayin commented on #139
Try rebooting. I don't think this has something to do with gpustat.

More references:

https://forums.developer.nvidia.com/t/black-screen-with-nvidia-turned-on-instead-intel-and-failed-to-initialize-nvml-driver-library-version-mismatch/210594/2
https://stackoverflow.com/questions/43022843/nvidia-nvml-driver-library-version-mismatch

[2022-10-22 19:03] #139 closed

[2022-11-04 10:17] Natithan opened #140 "Option to display a bar besides the number to indicate memory usage"
Hi,

Thanks for the program, very useful.
I was thinking a nice additional option could be to show the 'fullness' of the GPU ram with a bar instead of just with the number.
This for the use case of quickly identifying (almost) empty GPUs when sharing a bunch of GPUs with labmates (eg see image: some of them are full, some have a lot of space left, a bar could show this more 'directly' I feel).
![i

[2022-11-05 08:53] wookayin commented on #140
Something like this? (unicode characters and appearance can be better though)

[code]

[2022-11-05 10:42] Natithan commented on #140
Yep exactly!
As an extra, I'm not sure if it could also be nice to have different total bar sizes for different total memories (eg a server with 2 12GB gpus and 2 24GB gpus) 🤔 Would look messier, but also give a direct view of absolute free space (instead of relative free space)

[2022-11-06 09:22] huchinlp opened #141 "Incorrect memory usage for nvidia driver higher than R510"
When I update my nvidia driver to 515.76, `gpustat` always shows there are **308MB memory used** even no process using gpus.
But `nvidia-smi` shows there are **no memory being used**, so I am very confused...

Here is my environment:
ubuntu                18.04
gpustat               1.0.0
nvidia-driver       515.76
kernel                 4.15.0-171-generic

And here are the outputs of `nvidia-smi`

[2022-11-08 06:24] wookayin commented on #141
Before updating the driver was it fine? If so, can you please let me know of the driver version?

This is probably due to the mismatch between pynvml and nvidia driver version. We pinned nvidia-ml-py version at 11.495.46, this is not compatible with very recent drivers. Please see https://github.com/wookayin/gpustat/pull/107 for details.

As a workaround, you can try installing nvidia-ml-py (it wi

[2022-11-16 02:12] wookayin commented on #141
@huchinlp Any comments?

[2022-11-17 04:32] jinmingyi1998 commented on #141
same problem.

307MB more than `nvidia-smi`
![image](https://user-images.githubusercontent.com/29097382/202355761-a5a5e497-373a-4381-85c7-ff6d832aef99.png)

i tried nvidia-ml-py==11.515.48  11.515.75

gpustat==1.0.0

environment is docker nvcr.io/nvidia/cuda:11.7.1-cudnn8-devel-ubuntu20.04

[2022-11-17 04:56] wookayin commented on #141
@jinmingyi1998, Can you try [this](https://github.com/wookayin/gpustat/issues/141#issuecomment-1306696939)? With (temporarily) using `nvidia-ml-py>=11.515.75`, would the output be diffrent?

[2022-11-17 05:07] wookayin commented on #141
Can you please try the following:

[code]

It looks like `nvmlDeviceGetMemoryInfo_v2` was added in nvml 510.39.01.

[2022-11-17 05:42] jinmingyi1998 commented on #141
It seems works.

nvitop patch it in PR https://github.com/XuehaiPan/nvitop/pull/30

[code]

[2022-11-22 21:58] mattip opened #142 "On windows, error is raised if nvidia query cannot find a card"
**Describe the bug**

`python -m gpustat` errors if user is not admin or if nvidia drivers are installed but no NVidia card is available

**Screenshots or Program Output**

Please provide the output of `gpustat --debug` and `nvidia-smi`. Or attach screenshots if applicable.

As a regular user:
[code]
As an admin:
[code]

As a regular user

[code]

As an admin
[code]

**Environment information:**

[2022-11-24 00:52] wookayin commented on #142
So in this case, nvidia drivers cannot be found (although it exists?) for some reasons, gpustat saying `Error on querying NVIDIA devices. Use --debug flag for details` and `nvidia-smi` says an error as well. I think the both programs are working as expected (raising and printing errors) --- what do you expect for gpustat to behave in this scenario?

[2022-11-24 05:07] mattip commented on #142
This depends on how you view the purpose of the program. Since in practice the result is that the user cannot use a graphics card, I would personally expect gpustat to behave as if it could not find a graphics card rather than an error. That way a consumer of gpustat like ray would not need to use an error catching mechanism to differentiate between "no available graphics card for the user" and "s

[2022-11-24 06:00] wookayin commented on #142
I see; yes, we can definitely improve the error message depending on the type of error being thrown from `nvmlInit()`.

[2022-11-26 21:50] wookayin commented on #141
I hate NVIDIA breaking existing functions for new versions of drivers. For drivers higher than 510.39.01, perhaps the only way to get the correct memory usage information is to use `nvmlDeviceGetMemoryInfo_v2`, i.e. use `pynvml` 11.510.69+. However, older drivers cannot use `pynvml>=11.510.69` because it breaks process information (#107).

A consequence is that a different pynvml version must be u